<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プライバシーポリシー | FiddleBops</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="https://www.playfiddlebops.com/privacy"/>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const navToggle = document.querySelector('.nav-toggle');
  const navMenu = document.querySelector('.nav-menu');

  navToggle.addEventListener('click', function() {
    navMenu.classList.toggle('active');
  });

});
</script>
</head>
<body>
  <header>
    <div class="container">
        <div class="logo">
          <h1><a href="/ja/">Fiddle<span class="light">Bops</span></a></h1>
        </div>
         <button class="nav-toggle" aria-label="ナビゲーションの切り替え">☰</button>
        <nav class="nav-menu">
            <ul>
                <li><a href="/ja/">ホーム</a></li>
                <li><a href="#play">プレイ</a></li>
                 <li><a href="#about">概要</a></li>
                 <li><a href="#faq">よくある質問</a></li>
                 <li><a href="#comments">レビュー</a></li>
            </ul>
        </nav>
  <select style="float:right;">
    <option value="">言語</option>
    <option data-lang="en" data-url="/">English</option>
    <option data-lang="zh-CN" data-url="/zh/">简体中文</option>  
    <option data-lang="es" data-url="/es/">Español</option>
    <option data-lang="fr" data-url="/fr/">Français</option>
    <option data-lang="de" data-url="/de/">Deutsch</option>
    <option data-lang="ja" data-url="/ja/">日本語</option>
    <option data-lang="ko" data-url="/ko/">한국어</option>
    </select>
    </div>
</header>

    <main>
      <div class="page">

        <div class="header">
            <div class="container">
                <p class="title"> </p>
            </div>
        </div>
    
        
    
        <div class="translations-content-container">
            <div class="container">
    
                
                <div class="tab-content translations-content-item en visible" id="en">
                  <h1>プライバシーポリシー</h1>

                  <p>最終更新日：2025年2月10日</p>
                  
                  <p>本プライバシーポリシーは、お客様（以下「お客様」といいます）が本サービスをご利用になる際に、当社がお客様の情報を収集、使用、開示する方法、お客様のプライバシー権、および法律がお客様をどのように保護するかについて説明するものです。</p>
                  
                  <p>当社は、お客様の個人データを提供およびサービスを改善するために使用します。本サービスを使用することにより、お客様は、本プライバシーポリシーに従った情報の収集および使用に同意するものとします。</p>
                  
                  <h2>解釈と定義</h2>
                  
                  <h3>解釈</h3>
                  
                  <p>頭文字が大文字で表記された用語は、以下の条件で定義された意味を持ちます。以下の定義は、単数形または複数形で表示されるかどうかにかかわらず、同じ意味を持つものとします。</p>
                  
                  <h3>定義</h3>
                  
                  <p>本プライバシーポリシーの目的のために：</p>
                  
                  <ul>
                      <li>
                          <p><strong>アカウント（Account）</strong>とは、お客様が当社のサービスまたはサービスの一部にアクセスするために作成された固有のアカウントを意味します。</p>
                      </li>
                      <li>
                          <p><strong>関連会社（Affiliate）</strong>とは、当事者を支配しているか、当事者に支配されているか、または当事者と共通の支配下にある事業体を意味し、「支配」とは、取締役またはその他の経営機関の選任のための議決権を有する株式、持分またはその他の有価証券の50％以上の所有権を意味します。</p>
                      </li>
                      <li>
                          <p><strong>会社（Company）</strong>（本契約において「会社」、「当社」、「弊社」または「弊社の」と称される）とは、FiddleBopsを指します。</p>
                      </li>
                      <li>
                          <p><strong>クッキー（Cookies）</strong>とは、ウェブサイトによってお客様のコンピューター、モバイルデバイス、またはその他のデバイスに配置される小さなファイルであり、その多くの用途の中でも、当該ウェブサイト上のお客様の閲覧履歴の詳細が含まれています。</p>
                      </li>
                      <li>
                          <p><strong>国（Country）</strong>とは、アメリカ合衆国、ニューヨーク州を指します。</p>
                      </li>
                      <li>
                          <p><strong>デバイス（Device）</strong>とは、コンピューター、携帯電話、デジタルタブレットなど、サービスにアクセスできるあらゆるデバイスを意味します。</p>
                      </li>
                      <li>
                          <p><strong>個人データ（Personal Data）</strong>とは、特定されたまたは特定可能な個人に関連するあらゆる情報を意味します。</p>
                      </li>
                      <li>
                          <p><strong>サービス（Service）</strong>とは、ウェブサイトを指します。</p>
                      </li>
                      <li>
                          <p><strong>サービスプロバイダー（Service Provider）</strong>とは、会社に代わってデータを処理する自然人または法人を意味します。これは、サービスを円滑にするため、会社に代わってサービスを提供するため、サービスに関連するサービスを実行するため、または会社がサービスの利用状況を分析するのを支援するために会社によって雇用された第三者の会社または個人を指します。</p>
                      </li>
                      <li>
                          <p><strong>第三者ソーシャルメディアサービス（Third-party Social Media Service）</strong>とは、ユーザーがログインしたり、サービスを利用するためのアカウントを作成したりできるウェブサイトまたはソーシャルネットワークウェブサイトを意味します。</p>
                      </li>
                      <li>
                          <p><strong>利用データ（Usage Data）</strong>とは、サービスの使用によって自動的に収集されるデータ、またはサービスインフラストラクチャ自体から収集されるデータ（例：ページ訪問の時間）を意味します。</p>
                      </li>
                      <li>
                          <p><strong>ウェブサイト（Website）</strong>とは、<a href="https://www.playfiddlebops.com/" rel="external noopener" target="_blank">https://www.playfiddlebops.com/</a>からアクセス可能なFiddleBopsを指します。</p>
                      </li>
                      <li>
                          <p><strong>お客様（You）</strong>とは、サービスにアクセスまたは使用している個人、または該当する個人を代表してサービスにアクセスまたは使用している会社、またはその他の法人を意味します。</p>
                      </li>
                  </ul>
                  
                  <h2>お客様の個人データの収集と利用</h2>
                  
                  <h3>収集されるデータの種類</h3>
                  
                  <h4>個人データ</h4>
                  
                  <p>当社のサービスをご利用中に、当社はお客様に連絡またはお客様を特定するために使用できる特定の個人識別情報の提供をお願いする場合があります。個人識別情報には、以下が含まれますが、これらに限定されません。</p>
                  <ul>
                      <li>利用データ</li>
                  </ul>
                  
                  <h4>利用データ</h4>
                  
                  <p>利用データは、サービスを使用する際に自動的に収集されます。</p>
                  
                  <p>利用データには、お客様のデバイスのインターネットプロトコルアドレス（例：IPアドレス）、ブラウザの種類、ブラウザのバージョン、お客様が訪問した当社のサービスページ、お客様の訪問日時、それらのページに費やされた時間、固有のデバイス識別子、およびその他の診断データなどの情報が含まれる場合があります。</p>
                  
                  <p>お客様がモバイルデバイスによって、またはモバイルデバイスを介してサービスにアクセスする場合、当社はお客様が使用するモバイルデバイスの種類、お客様のモバイルデバイスの固有ID、お客様のモバイルデバイスのIPアドレス、お客様のモバイルオペレーティングシステム、お客様が使用するモバイルインターネットブラウザの種類、固有のデバイス識別子、およびその他の診断データを含むがこれらに限定されない特定の情報を自動的に収集する場合があります。</p>
                  
                  <p>また、当社は、お客様が当社のサービスにアクセスするたび、またはお客様がモバイルデバイスによって、またはモバイルデバイスを介してサービスにアクセスする際に、お客様のブラウザが送信する情報も収集する場合があります。</p>
                  
                  <h4>第三者ソーシャルメディアサービスからの情報</h4>
                  
                  <p>当社は、お客様がアカウントを作成し、以下の第三者ソーシャルメディアサービスを通じてログインしてサービスを利用することを許可しています。</p>
                  <ul>
                      <li>Google</li>
                      <li>Facebook</li>
                      <li>Instagram</li>
                      <li>Twitter</li>
                      <li>LinkedIn</li>
                  </ul>
                  
                  <p>お客様が第三者ソーシャルメディアサービスを通じて登録またはその他の方法で当社にアクセスを許可することを決定した場合、当社は、お客様の名前、お客様のメールアドレス、お客様の活動、またはそのアカウントに関連付けられたお客様の連絡先リストなど、お客様の第三者ソーシャルメディアサービスのアカウントに既に関連付けられている個人データを収集する場合があります。</p>

                  <p>お客様は、第三者ソーシャルメディアサービスのアカウントを通じて、追加情報を会社と共有するオプションも持つ場合があります。登録中またはその他の方法でそのような情報および個人データを提供することを選択した場合、お客様は、会社が本プライバシーポリシーと一貫した方法でそれを使用、共有、および保存することを許可することになります。</p>
                  
                  <h4>追跡技術とクッキー</h4>
                  
                  <p>当社は、クッキーおよび類似の追跡技術を使用して、当社のサービスにおけるアクティビティを追跡し、特定の情報を保存します。使用される追跡技術は、ビーコン、タグ、およびスクリプトであり、情報を収集および追跡し、当社のサービスを改善および分析するために使用されます。当社が使用する可能性のある技術は次のとおりです。</p>
                  
                  <ul>
                      <li><strong>クッキーまたはブラウザクッキー。</strong> クッキーは、お客様のデバイスに配置される小さなファイルです。お客様は、ブラウザにすべてのクッキーを拒否するか、クッキーが送信されていることを示すように指示することができます。ただし、クッキーを受け入れない場合、当社のサービスの一部を使用できなくなる場合があります。クッキーを拒否するようにブラウザ設定を調整していない限り、当社のサービスはクッキーを使用する場合があります。</li>
                      <li><strong>ウェブビーコン。</strong> 当社のサービスおよび当社の電子メールの特定のセクションには、ウェブビーコン（クリアGIF、ピクセルタグ、シングルピクセルGIFとも呼ばれます）として知られる小さな電子ファイルが含まれている場合があります。これにより、会社は、たとえば、それらのページを訪問したユーザーまたは電子メールを開いたユーザーの数をカウントしたり、その他の関連するウェブサイト統計（たとえば、特定のセクションの人気を記録したり、システムとサーバーの整合性を検証したりする）を実行したりできます。</li>
                  </ul>
                  
                  <p>クッキーは、「永続的」または「セッション」クッキーにすることができます。永続的クッキーは、オフラインになってもお客様のパーソナルコンピューターまたはモバイルデバイスに残りますが、セッションクッキーは、ウェブブラウザを閉じるとすぐに削除されます。クッキーの詳細については、<a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking" target="_blank">無料プライバシーポリシーウェブサイト</a>の記事をご覧ください。</p>
                  
                  <p>当社は、以下に定める目的のために、セッションクッキーと永続的クッキーの両方を使用します。</p>
                  
                  <ul>
                      <li>
                          <p><strong>必須/不可欠なクッキー</strong></p>
                          <p>種類：セッションクッキー</p>
                          <p>管理者：当社</p>
                          <p>目的：これらのクッキーは、ウェブサイトを通じて利用可能なサービスをお客様に提供し、お客様がその機能の一部を使用できるようにするために不可欠です。これらは、ユーザーを認証し、ユーザーアカウントの不正使用を防ぐのに役立ちます。これらのクッキーがない場合、お客様が要求したサービスを提供することはできず、当社はお客様にそれらのサービスを提供するためにのみこれらのクッキーを使用します。</p>
                      </li>
                      <li>
                          <p><strong>クッキーポリシー/通知承諾クッキー</strong></p>
                          <p>種類：永続的クッキー</p>
                          <p>管理者：当社</p>
                          <p>目的：これらのクッキーは、ユーザーがウェブサイトでのクッキーの使用に同意したかどうかを識別します。</p>
                      </li>
                      <li>
                          <p><strong>機能性クッキー</strong></p>
                          <p>種類：永続的クッキー</p>
                          <p>管理者：当社</p>
                          <p>目的：これらのクッキーを使用すると、お客様がウェブサイトを使用する際に行う選択、たとえば、ログインの詳細や言語設定などを記憶することができます。これらのクッキーの目的は、お客様によりパーソナライズされたエクスペリエンスを提供し、お客様がウェブサイトを使用するたびに設定を再入力する必要がないようにすることです。</p>
                      </li>
                  </ul>
                  
                  <p>当社が使用するクッキーとクッキーに関するお客様の選択肢の詳細については、当社のクッキーポリシーまたはプライバシーポリシーのクッキーセクションをご覧ください。</p>
                  
                  <h3>お客様の個人データの利用</h3>
                  
                  <p>会社は、個人データを以下の目的で使用する場合があります。</p>
                  
                  <ul>
                      <li>
                          <p><strong>当社のサービスを提供および維持するため</strong>、当社のサービスの使用状況を監視することを含みます。</p>
                      </li>
                      <li>
                          <p><strong>お客様のアカウントを管理するため：</strong> サービスのお客様としての登録を管理します。お客様が提供する個人データにより、登録ユーザーとして利用できるサービスのさまざまな機能にアクセスできるようになります。</p>
                      </li>
                      <li>
                          <p><strong>契約の履行のため：</strong> お客様が購入した製品、アイテム、またはサービスの購入契約、またはサービスを通じて当社との間で締結したその他の契約の開発、遵守、および履行。</p>
                      </li>
                      <li>
                          <p><strong>お客様に連絡するため：</strong> お客様に電子メール、電話、SMS、またはその他の同等の電子通信形式（モバイルアプリケーションのプッシュ通知など）で、機能、製品、または契約サービスに関する更新または情報通信（セキュリティアップデートを含む）について、必要または合理的に実装する必要がある場合に連絡するため。</p>
                      </li>
                      <li>
                          <p><strong>お客様に提供するため</strong> お客様が既に購入または問い合わせたものと類似している、当社が提供するその他の商品、サービス、およびイベントに関するニュース、特別オファー、および一般的な情報を、お客様がそのような情報を受け取らないことを選択した場合を除き、お客様に提供するため。</p>
                      </li>
                      <li>
                          <p><strong>お客様のリクエストを管理するため：</strong> お客様から当社へのリクエストに対応し、管理するため。</p>
                      </li>
                      <li>
                          <p><strong>事業譲渡のため：</strong> 当社は、事業継続としてか、破産、清算、または同様の手続きの一部としてかを問わず、当社の資産の一部または全部の合併、分割、リストラクチャリング、再編、解散、またはその他の売却または譲渡を評価または実施するためにお客様の情報を使用する場合があります。この場合、当社のサービスユーザーに関する当社が保有する個人データは、譲渡される資産に含まれます。</p>
                      </li>
                      <li>
                          <p><strong>その他の目的</strong>：当社は、データ分析、利用傾向の特定、当社のプロモーションキャンペーンの有効性の判断、および当社サービス、製品、サービス、マーケティング、およびお客様のエクスペリエンスを評価および改善するなどの他の目的でお客様の情報を使用する場合があります。</p>
                      </li>
                  </ul>
                  
                  <p>当社は、お客様の個人情報を以下の状況で共有する場合があります。</p>
                  
                  <ul>
                      <li><strong>サービスプロバイダーと共有する場合：</strong> 当社は、当社のサービスの使用状況を監視および分析し、お客様に連絡するために、お客様の個人情報をサービスプロバイダーと共有する場合があります。</li>
                      <li><strong>事業譲渡の場合：</strong> 当社は、合併、会社資産の売却、融資、または当社事業の全部または一部の別の会社への買収に関連して、または交渉中に、お客様の個人情報を共有または譲渡する場合があります。</li>
                      <li><strong>関連会社と共有する場合：</strong> 当社は、お客様の情報を当社の関連会社と共有する場合があります。その場合、当社はそれらの関連会社に本プライバシーポリシーを尊重するように要求します。関連会社には、当社の親会社、および当社が支配している、または当社と共通の支配下にあるその他の子会社、合弁事業パートナー、またはその他の会社が含まれます。</li>
                      <li><strong>ビジネスパートナーと共有する場合：</strong> 当社は、お客様に特定の製品、サービス、またはプロモーションを提供するために、お客様の情報を当社のビジネスパートナーと共有する場合があります。</li>
                      <li><strong>他のユーザーと共有する場合：</strong> お客様が個人情報を共有したり、公共エリアで他のユーザーとやり取りしたりする場合、そのような情報はすべてのユーザーが閲覧でき、外部に公開される可能性があります。お客様が第三者ソーシャルメディアサービスを通じて他のユーザーとやり取りしたり、登録したりする場合、第三者ソーシャルメディアサービス上の連絡先は、お客様の名前、プロフィール、写真、およびお客様のアクティビティの説明を見ることができます。同様に、他のユーザーは、お客様のアクティビティの説明を閲覧し、お客様と通信し、お客様のプロフィールを閲覧することができます。</li>
                      <li><strong>お客様の同意がある場合</strong>：当社は、お客様の同意を得て、その他の目的でお客様の個人情報を開示する場合があります。</li>
                  </ul>
                  
                  <h3>お客様の個人データの保持</h3>
                  
                  <p>会社は、本プライバシーポリシーに定められた目的のために必要な期間のみ、お客様の個人データを保持します。当社は、当社の法的義務を遵守するため（たとえば、適用される法律を遵守するためにデータを保持する必要がある場合）、紛争を解決し、当社の法的契約およびポリシーを実施するために必要な範囲で、お客様の個人データを保持および使用します。</p>
                  
                  <p>会社はまた、内部分析の目的で利用状況データを保持します。利用状況データは、一般的に短期間保持されます。ただし、このデータが当社のサービスのセキュリティを強化または機能を改善するために使用される場合、または当社が法律によりこのデータをより長期間保持することが義務付けられている場合は例外とします。</p>
                  
                  <h3>お客様の個人データの転送</h3>
                  
                  <p>個人データを含むお客様の情報は、会社の運営事務所および処理に関与する当事者が所在するその他の場所で処理されます。これは、この情報がお客様の州、省、国、またはデータ保護法がお客様の管轄区域の法律と異なる可能性のあるその他の政府管轄区域の外部にあるコンピューターに転送され、そこで維持される可能性があることを意味します。</p>
                  
                  <p>お客様がこのプライバシーポリシーに同意し、そのような情報を送信することは、その転送に対するお客様の同意を表すものとします。</p>
                  
                  <p>会社は、お客様のデータが安全に扱われ、本プライバシーポリシーに従って扱われることを保証するために合理的に必要なすべての措置を講じます。また、お客様のデータおよびその他の個人情報のセキュリティを含む適切な管理体制が整っていない限り、お客様の個人データが組織または国に転送されることはありません。</p>
                  
                  <h3>お客様の個人データの削除</h3>
                  
                  <p>お客様には、当社が収集したお客様に関する個人データを削除するか、削除を支援するよう当社に要求する権利があります。</p>
                  
                  <p>当社のサービスは、サービス内からお客様に関する特定の情報を削除する機能をお客様に提供する場合があります。</p>
                  
                  <p>お客様は、アカウントをお持ちの場合、アカウントにログインし、個人情報を管理できるアカウント設定セクションにアクセスすることで、いつでもお客様の情報を更新、修正、または削除できます。また、お客様は当社に連絡して、お客様が当社に提供した個人情報へのアクセス、修正、または削除を要求することもできます。</p>
                  
                  <p>ただし、当社が法的義務を履行するため、またはそうするための合法的な根拠がある場合、特定の情報を保持する必要がある場合がありますのでご注意ください。</p>
                  
                  <h3>お客様の個人データの開示</h3>
                  
                  <h4>事業取引</h4>
                  
                  <p>会社が合併、買収、または資産売却に関与している場合、お客様の個人データは転送される可能性があります。当社は、お客様の個人データが転送され、別のプライバシーポリシーの対象となる前に通知を提供します。</p>
                  
                  <h4>法執行機関</h4>
                  
                  <p>特定の状況下では、法律によって義務付けられている場合、または公的機関（たとえば、裁判所または政府機関）からの有効な要求に応じて、会社は客様の個人データを開示する必要がある場合があります。</p>
                  
                  <h4>その他の法的要件</h4>
                  
                  <p>会社は、そのような措置が以下に必要であると誠実に信じる場合、お客様の個人データを開示する場合があります。</p>
                  
                  <ul>
                      <li>法的義務を遵守する</li>
                      <li>会社の権利または財産を保護および防御する</li>
                      <li>本サービスに関連する可能性のある不正行為を防止または調査する</li>
                      <li>本サービスのユーザーまたは公衆の個人の安全を保護する</li>
                      <li>法的責任から保護する</li>
                  </ul>
                  
                  <h3>お客様の個人データのセキュリティ</h3>
                  
                  <p>お客様の個人データのセキュリティは当社にとって重要ですが、インターネット上での送信方法または電子ストレージの方法はいずれも100％安全ではないことを覚えておいてください。当社はお客様の個人データを保護するために商業的に受け入れられる手段を使用するよう努めていますが、その絶対的なセキュリティを保証することはできません。</p>
                  
                  <h2>児童のプライバシー</h2>
                  
                  <p>当社のサービスは、13歳未満の者を対象としていません。当社は、13歳未満の者から個人を特定できる情報を故意に収集することはありません。お客様が親または保護者であり、お子様が当社に個人データを提供したことをご存知の場合は、当社にご連絡ください。親の同意の確認なしに13歳未満の者から個人データを収集したことに気付いた場合、当社はその情報を当社のサーバーから削除する措置を講じます。</p>
                  
                  <p>当社がお客様の情報を処理するための法的根拠として同意に依拠する必要があり、お客様の国で親からの同意が必要な場合、当社はその情報を収集して使用する前に、お客様の親の同意を求める場合があります。</p>
                  
                  <h2>他のウェブサイトへのリンク</h2>
                  
                  <p>当社のサービスには、当社が運営していない他のウェブサイトへのリンクが含まれている場合があります。お客様が第三者のリンクをクリックすると、その第三者のサイトにリダイレクトされます。お客様が訪問するすべてのサイトのプライバシーポリシーを確認することを強くお勧めします。</p>
                  
                  <p>当社は、第三者のサイトまたはサービスの内容、プライバシーポリシー、または慣行を管理することはできず、責任も負いません。</p>
                  
                  <h2>本プライバシーポリシーの変更</h2>
                  
                  <p>当社は、随時、本プライバシーポリシーを更新することがあります。当社は、このページに新しいプライバシーポリシーを掲載することにより、変更をお客様に通知します。</p>
                  
                  <p>当社は、変更が有効になる前に、電子メールおよび/または当社のサービスに関する目立つ通知を通じてお客様に通知し、このプライバシーポリシーの上部にある「最終更新日」を更新します。</p>
                  
                  <p>変更がないか、本プライバシーポリシーを定期的に確認することをお勧めします。本プライバシーポリシーへの変更は、このページに掲載された時点で有効になります。</p>
                  
                  <h2>お問い合わせ</h2>
                  
                  <p>本プライバシーポリシーについてご質問がある場合は、当社までお問い合わせください。</p>
                  
                  <ul>
                      <li>当社のウェブサイトのこのページにアクセスする：<a href="https://www.playfiddlebops.com/ja/#about" rel="external noopener" target="_blank">https://www.playfiddlebops.com/ja/#about</a></li>
                  </ul>
                </div>
                
    
            </div>
        </div>
        <!-- content end -->
        
    
    </div>
    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li><a href="#about">私たちについて</a></li>
                  <li><a href="/ja/privacy">プライバシーポリシー</a></li>
                  <li><a href="/ja/terms-of-service">利用規約</a></li>
                </ul>
           </nav>
           <p class="copyright">© 2025 FiddleBops. All rights reserved.</p>
      </div>
    </footer>
    <script>
      function goToLink(event) {
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
        const url = selectedOption.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      }
  
      // Add event listener
      document.addEventListener('DOMContentLoaded', () => {
        const select = document.querySelector('select');
        if (select) {
          select.addEventListener('change', goToLink);
  
          // Set current language based on the <html> tag's lang attribute
          const htmlLang = document.documentElement.lang;
          const options = Array.from(select.options);
  
          // Try to find an option that exactly matches the lang attribute
          const currentOption = options.find(option =>
            option.getAttribute('data-lang') === htmlLang
          );
  
          if (currentOption) {
            currentOption.selected = true;
          } else {
            // If no exact match is found, try to find a default option (data-lang="en" or "/")
            let defaultOption = options.find(option =>
              option.getAttribute('data-lang') === 'en' // common default
            );
  
            if (!defaultOption) {
              defaultOption = options.find(option =>
                option.getAttribute('data-lang') === '/' // older convention
              );
            }
  
  
            if (defaultOption) {
              defaultOption.selected = true;
            }
          }
        }
      });
      </script>
</body>
</html>