<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de confidentialité | FiddleBops</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="https://www.playfiddlebops.com/fr/privacy"/>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const navToggle = document.querySelector('.nav-toggle');
  const navMenu = document.querySelector('.nav-menu');

  navToggle.addEventListener('click', function() {
    navMenu.classList.toggle('active');
  });

});
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9JME3P55QJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9JME3P55QJ');
</script>
</head>
<body>
  <header>
    <div class="container">
        <div class="logo">
          <h1><a href="/fr/">Fiddle<span class="light">Bops</span></a></h1>
        </div>
         <button class="nav-toggle" aria-label="Basculer la navigation">☰</button>
        <nav class="nav-menu">
            <ul>
                <li><a href="/fr/">Accueil</a></li>
                <li><a href="/fr/#play">Jouer</a></li>
                 <li><a href="/fr/#about">À propos</a></li>
                 <li><a href="/fr/#faq">FAQ</a></li>
                 <li><a href="/fr/#comments">Avis</a></li>
            </ul>
        </nav>
  <select style="float:right;">
    <option data-lang="en" data-url="/privacy">English</option>
    <option data-lang="zh-CN" data-url="/zh/privacy">简体中文</option>  
    <option data-lang="es" data-url="/es/privacy">Español</option>
    <option data-lang="fr" data-url="/fr/">Français</option>
    <option data-lang="de" data-url="/de/privacy">Deutsch</option>
    <option data-lang="ja" data-url="/ja/privacy">日本語</option>
    <option data-lang="ko" data-url="/ko/privacy">한국어</option>
    </select>
    </div>
</header>

    <main>
      <div class="page">

        <div class="header">
            <div class="container">
                <p class="title"> </p>
            </div>
        </div>
    
        
    
        <div class="translations-content-container">
            <div class="container">
    
                
                <div class="tab-content translations-content-item en visible" id="en">
                  <h1>Politique de confidentialité</h1>

                  <p>Dernière mise à jour : 10 février 2025</p>
                  
                  <p>La présente Politique de confidentialité décrit nos politiques et procédures sur la collecte, l'utilisation et la divulgation de Vos informations lorsque Vous utilisez le Service et Vous informe de Vos droits à la vie privée et de la manière dont la loi Vous protège.</p>
                  
                  <p>Nous utilisons Vos données personnelles pour fournir et améliorer le Service. En utilisant le Service, Vous acceptez la collecte et l'utilisation des informations conformément à la présente Politique de confidentialité.</p>
                  
                  <h2>Interprétation et définitions</h2>
                  
                  <h3>Interprétation</h3>
                  
                  <p>Les mots dont la lettre initiale est en majuscule ont des significations définies dans les conditions suivantes. Les définitions suivantes ont la même signification, qu'elles apparaissent au singulier ou au pluriel.</p>
                  
                  <h3>Définitions</h3>
                  
                  <p>Aux fins de la présente Politique de confidentialité :</p>
                  
                  <ul>
                      <li>
                          <p><strong>Compte</strong> désigne un compte unique créé pour Vous afin d'accéder à Notre Service ou à des parties de Notre Service.</p>
                      </li>
                      <li>
                          <p><strong>Affilié</strong> désigne une entité qui contrôle, est contrôlée par ou est sous contrôle commun avec une partie, où "contrôle" signifie la propriété de 50 % ou plus des actions, des participations ou d'autres titres habilités à voter pour l'élection des administrateurs ou d'autres autorités de gestion.</p>
                      </li>
                      <li>
                          <p><strong>Société</strong> (désignée dans le présent accord par les termes "la Société", "Nous", "Notre" ou "Nos") fait référence à FiddleBops.</p>
                      </li>
                      <li>
                          <p><strong>Cookies</strong> sont de petits fichiers qui sont placés sur Votre ordinateur, appareil mobile ou tout autre appareil par un site Web, contenant les détails de Votre historique de navigation sur ce site Web, parmi ses nombreuses utilisations.</p>
                      </li>
                      <li>
                          <p><strong>Pays</strong> fait référence à : New York, États-Unis</p>
                      </li>
                      <li>
                          <p><strong>Appareil</strong> désigne tout appareil pouvant accéder au Service, tel qu'un ordinateur, un téléphone portable ou une tablette numérique.</p>
                      </li>
                      <li>
                          <p><strong>Données personnelles</strong> désigne toute information se rapportant à une personne physique identifiée ou identifiable.</p>
                      </li>
                      <li>
                          <p><strong>Service</strong> fait référence au Site Web.</p>
                      </li>
                      <li>
                          <p><strong>Fournisseur de services</strong> désigne toute personne physique ou morale qui traite les données pour le compte de la Société. Il s'agit de sociétés ou de personnes tierces employées par la Société pour faciliter le Service, fournir le Service au nom de la Société, exécuter des services liés au Service ou aider la Société à analyser la manière dont le Service est utilisé.</p>
                      </li>
                      <li>
                          <p><strong>Service de médias sociaux tiers</strong> désigne tout site Web ou tout site Web de réseau social par lequel un utilisateur peut se connecter ou créer un compte pour utiliser le Service.</p>
                      </li>
                      <li>
                          <p><strong>Données d'utilisation</strong> désigne les données collectées automatiquement, soit générées par l'utilisation du Service, soit à partir de l'infrastructure du Service elle-même (par exemple, la durée d'une visite de page).</p>
                      </li>
                      <li>
                          <p><strong>Site Web</strong> fait référence à FiddleBops, accessible à partir de <a href="https://www.playfiddlebops.com/" rel="external noopener" target="_blank">https://www.playfiddlebops.com/</a></p>
                      </li>
                      <li>
                          <p><strong>Vous</strong> désigne la personne accédant ou utilisant le Service, ou la société ou autre entité juridique au nom de laquelle cette personne accède ou utilise le Service, selon le cas.</p>
                      </li>
                  </ul>
                  
                  <h2>Collecte et utilisation de vos données personnelles</h2>
                  
                  <h3>Types de données collectées</h3>
                  
                  <h4>Données personnelles</h4>
                  
                  <p>Lors de l'utilisation de Notre Service, Nous pouvons Vous demander de Nous fournir certaines informations personnellement identifiables qui peuvent être utilisées pour Vous contacter ou Vous identifier. Les informations personnellement identifiables peuvent inclure, sans toutefois s'y limiter :</p>
                  <ul>
                      <li>Données d'utilisation</li>
                  </ul>
                  
                  <h4>Données d'utilisation</h4>
                  
                  <p>Les données d'utilisation sont collectées automatiquement lors de l'utilisation du Service.</p>
                  
                  <p>Les données d'utilisation peuvent inclure des informations telles que l'adresse de protocole Internet (par exemple, l'adresse IP) de Votre appareil, le type de navigateur, la version du navigateur, les pages de Notre Service que Vous visitez, la date et l'heure de Votre visite, le temps passé sur ces pages, les identifiants uniques d'appareil et autres donnéesde diagnostic.</p>

                  <p>Lorsque Vous accédez au Service par ou via un appareil mobile, Nous pouvons collecter automatiquement certaines informations, y compris, mais sans s'y limiter, le type d'appareil mobile que Vous utilisez, l'identifiant unique de Votre appareil mobile, l'adresse IP de Votre appareil mobile, Votre système d'exploitation mobile, le type de navigateur Internet mobile que Vous utilisez, les identifiants uniques d'appareil et autres données de diagnostic.</p>
                  
                  <p>Nous pouvons également collecter les informations que Votre navigateur envoie chaque fois que Vous visitez Notre Service ou lorsque Vous accédez au Service par ou via un appareil mobile.</p>
                  
                  <h4>Informations provenant de services de médias sociaux tiers</h4>
                  
                  <p>La Société Vous autorise à créer un compte et à Vous connecter pour utiliser le Service via les Services de médias sociaux tiers suivants :</p>
                  <ul>
                      <li>Google</li>
                      <li>Facebook</li>
                      <li>Instagram</li>
                      <li>Twitter</li>
                      <li>LinkedIn</li>
                  </ul>
                  
                  <p>Si Vous décidez de Vous inscrire ou de Nous accorder l'accès à un Service de médias sociaux tiers, Nous pouvons collecter des données personnelles qui sont déjà associées au compte de Votre Service de médias sociaux tiers, telles que Votre nom, Votre adresse e-mail, Vos activités ou Votre liste de contacts associée à ce compte.</p>
                  
                  <p>Vous pouvez également avoir la possibilité de partager des informations supplémentaires avec la Société via le compte de Votre Service de médias sociaux tiers. Si Vous choisissez de fournir ces informations et données personnelles, lors de l'inscription ou autrement, Vous donnez à la Société l'autorisation de les utiliser, de les partager et de les stocker d'une manière conforme à la présente Politique de confidentialité.</p>
                  
                  <h4>Technologies de suivi et cookies</h4>
                  
                  <p>Nous utilisons des cookies et des technologies de suivi similaires pour suivre l'activité sur Notre Service et stocker certaines informations. Les technologies de suivi utilisées sont les balises, les tags et les scripts pour collecter et suivre les informations et pour améliorer et analyser Notre Service. Les technologies que Nous utilisons peuvent inclure :</p>
                  
                  <ul>
                      <li><strong>Cookies ou cookies de navigateur.</strong> Un cookie est un petit fichier placé sur Votre Appareil. Vous pouvez demander à Votre navigateur de refuser tous les Cookies ou d'indiquer quand un Cookie est envoyé. Cependant, si Vous n'acceptez pas les Cookies, Vous ne pourrez peut-être pas utiliser certaines parties de Notre Service. À moins que Vous n'ayez ajusté les paramètres de Votre navigateur pour qu'il refuse les Cookies, Notre Service peut utiliser des Cookies.</li>
                      <li><strong>Balises Web.</strong> Certaines sections de Notre Service et de Nos e-mails peuvent contenir de petits fichiers électroniques connus sous le nom de balises Web (également appelées GIF invisibles, balises pixel et GIF à pixel unique) qui permettent à la Société, par exemple, de compter les utilisateurs qui ont visité ces pages ou ouvert un e-mail et pour d'autres statistiques de site Web connexes (par exemple, enregistrement de la popularité d'une certaine section et vérification de l'intégrité du système et du serveur).</li>
                  </ul>
                  
                  <p>Les cookies peuvent être des cookies "persistants" ou des cookies "de session". Les cookies persistants restent sur Votre ordinateur personnel ou Votre appareil mobile lorsque Vous vous déconnectez, tandis que les cookies de session sont supprimés dès que Vous fermez Votre navigateur Web. Pour en savoir plus sur les cookies, consultez l'article du <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking" target="_blank">site Web Free Privacy Policy</a>.</p>
                  
                  <p>Nous utilisons à la fois des cookies de session et des cookies persistants aux fins décrites ci-dessous :</p>
                  
                  <ul>
                      <li>
                          <p><strong>Cookies nécessaires / essentiels</strong></p>
                          <p>Type : Cookies de session</p>
                          <p>Administré par : Nous</p>
                          <p>Objet : ces cookies sont essentiels pour vous fournir les services disponibles sur le site Web et pour vous permettre d’utiliser certaines de ses fonctionnalités. Ils aident à authentifier les utilisateurs et à prévenir l’utilisation frauduleuse des comptes d’utilisateurs. Sans ces cookies, les services que vous avez demandés ne peuvent pas être fournis, et nous utilisons ces cookies uniquement pour vous fournir ces services.</p>
                      </li>
                      <li>
                          <p><strong>Politique relative aux cookies / Cookies d’acceptation des avis</strong></p>
                          <p>Type : Cookies persistants</p>
                          <p>Administré par : Nous</p>
                          <p>Objet : Ces cookies identifient si les utilisateurs ont accepté l’utilisation de cookies sur le site Web.</p>
                      </li>
                      <li>
                          <p><strong>Cookies de fonctionnalité</strong></p>
                          <p>Type : Cookies persistants</p>
                          <p>Administré par : Nous</p>
                          <p>Objet : Ces cookies nous permettent de mémoriser les choix que vous faites lorsque vous utilisez le site Web, comme la mémorisation de vos informations de connexion ou de votre préférence de langue. Le but de ces cookies est de vous offrir une expérience plus personnelle et d’éviter que vous n’ayez à saisir à nouveau vos préférences à chaque fois que vous utilisez le site Web.</p>
                      </li>
                  </ul>
                  
                  <p>Pour plus d'informations sur les cookies que nous utilisons et vos choix concernant les cookies, veuillez consulter notre Politique en matière de cookies ou la section Cookies de notre Politique de confidentialité.</p>
                  
                  <h3>Utilisation de Vos données personnelles</h3>
                  
                  <p>La Société peut utiliser les Données personnelles aux fins suivantes :</p>
                  
                  <ul>
                      <li>
                          <p><strong>Pour fournir et maintenir Notre Service</strong>, y compris pour surveiller l'utilisation de Notre Service.</p>
                      </li>
                      <li>
                          <p><strong>Pour gérer Votre Compte :</strong> pour gérer Votre inscription en tant qu'utilisateur du Service. Les Données personnelles que Vous fournissez peuvent Vous donner accès à différentes fonctionnalités du Service qui sont mises à Votre disposition en tant qu'utilisateur enregistré.</p>
                      </li>
                      <li>
                          <p><strong>Pour l'exécution d'un contrat :</strong> le développement, le respect et la réalisation du contrat d'achat des produits, articles ou services que Vous avez achetés ou de tout autre contrat avec Nous par le biais du Service.</p>
                      </li>
                      <li>
                          <p><strong>Pour Vous contacter :</strong> Pour Vous contacter par e-mail, appels téléphoniques, SMS ou autres formes équivalentes de communication électronique, telles que les notifications push d'une application mobile concernant les mises à jour ou les communications informatives relatives aux fonctionnalités, aux produits ou aux services contractés, y compris les mises à jour de sécurité, lorsque cela est nécessaire ou raisonnable pour leur mise en œuvre.</p>
                      </li>
                      <li>
                          <p><strong>Pour Vous fournir</strong> des nouvelles, des offres spéciales et des informations générales sur d'autres biens, services et événements que Nous proposons et qui sont similaires à ceux que Vous avez déjà achetés ou demandés, à moins que Vous n'ayez choisi de ne pas recevoir ces informations.</p>
                      </li>
                      <li>
                          <p><strong>Pour gérer Vos demandes :</strong> Pour répondre à et gérer Vos demandes à Nous.</p>
                      </li>
                      <li>
                          <p><strong>Pour les transferts d'entreprises :</strong> Nous pouvons utiliser Vos informations pour évaluer ou mener une fusion, une cession, une restructuration, une réorganisation, une dissolution ou toute autre vente ou transfert de tout ou partie de Nos actifs, que ce soit dans le cadre d'une exploitation continue ou dans le cadre d'une faillite, d'une liquidation ou d'une procédure similaire, dans laquelle les Données personnelles détenues par Nous sur Nos utilisateurs de Service font partie des actifs transférés.</p>
                      </li>
                      <li>
                          <p><strong>À d'autres fins</strong>: Nous pouvons utiliser Vos informations à d'autres fins, telles que l'analyse des données, l'identification des tendances d'utilisation, la détermination de l'efficacité de Nos campagnes promotionnelles et pour évaluer et améliorer Notre Service, Nos produits, Nos services, Notre marketing et Votre expérience.</p>
                      </li>
                  </ul>
                  
                  <p>Nous pouvons partager Vos informations personnelles dans les situations suivantes :</p>
                  
                  <ul>
                      <li><strong>Avec les Fournisseurs de services :</strong> Nous pouvons partager Vos informations personnelles avec les Fournisseurs de services pour surveiller et analyser l'utilisation de Notre Service, pour Vous contacter.</li>
                      <li><strong>Pour les transferts d'entreprises :</strong> Nous pouvons partager ou transférer Vos informations personnelles dans le cadre de ou pendant les négociations de toute fusion, vente d'actifs de la Société, financement ou acquisition de tout ou partie de Notre entreprise à une autre société.</li>
                      <li><strong>Avec les Affiliés :</strong> Nous pouvons partager Vos informations avec Nos affiliés, auquel cas Nous exigerons de ces affiliés qu'ils respectent la présente Politique de confidentialité. Les affiliés comprennent Notre société mère et toutes les autres filiales, partenaires de coentreprise ou autres sociétés que Nous contrôlons ou qui sont sous contrôle commun avec Nous.</li>
                      <li><strong>Avec les partenaires commerciaux :</strong> Nous pouvons partager Vos informations avec Nos partenaires commerciaux pour Vous offrir certains produits, services ou promotions.</li>
                      <li><strong>Avec d'autres utilisateurs :</strong> lorsque Vous partagez des informations personnelles ou interagissez autrement dans les zones publiques avec d'autres utilisateurs, ces informations peuvent être visualisées par tous les utilisateurs et peuvent être distribuées publiquement à l'extérieur. Si Vous interagissez avec d'autres utilisateurs ou vous inscrivez via un Service de médias sociaux tiers, Vos contacts sur le Service de médias sociaux tiers peuvent voir Votre nom, Votre profil, Vos photos et la description de Votre activité. De même, les autres utilisateurs pourront consulter des descriptions de Votre activité, communiquer avec Vous et consulter Votre profil.</li>
                      <li><strong>Avec Votre consentement</strong> : Nous pouvons divulguer Vos informations personnelles à toute autre fin avec Votre consentement.</li>
                  </ul>
                  
                  <h3>Conservation de Vos données personnelles</h3>
                  
                  <p>La Société ne conservera Vos Données personnelles que pendant la durée nécessaire aux fins énoncées dans la présente Politique de confidentialité. Nous conserverons et utiliserons Vos Données personnelles dans la mesure nécessaire pour  nous conformer à nos obligations légales (par exemple, si Nous sommes tenus de conserver Vos données pour nous conformer aux lois applicables), résoudre les litiges et faire appliquer nos accords et politiques juridiques.</p>

                  <p>La Société conservera également les Données d'utilisation à des fins d'analyse interne. Les Données d'utilisation sont généralement conservées pendant une période plus courte, sauf lorsque ces données sont utilisées pour renforcer la sécurité ou pour améliorer la fonctionnalité de Notre Service, ou lorsque Nous sommes légalement tenus de conserver ces données pendant des périodes plus longues.</p>
                  
                  <h3>Transfert de Vos données personnelles</h3>
                  
                  <p>Vos informations, y compris les Données personnelles, sont traitées dans les bureaux d'exploitation de la Société et dans tout autre lieu où sont situées les parties impliquées dans le traitement. Cela signifie que ces informations peuvent être transférées vers - et conservées sur - des ordinateurs situés en dehors de Votre État, province, pays ou autre juridiction gouvernementale où les lois sur la protection des données peuvent différer de celles de Votre juridiction.</p>
                  
                  <p>Votre consentement à cette Politique de confidentialité, suivi de Votre soumission de ces informations, représente Votre accord à ce transfert.</p>
                  
                  <p>La Société prendra toutes les mesures raisonnablement nécessaires pour garantir que Vos données sont traitées en toute sécurité et conformément à la présente Politique de confidentialité, et aucun transfert de Vos Données personnelles n'aura lieu vers une organisation ou un pays à moins que des contrôles adéquats ne soient en place, y compris la sécurité de Vos données et autres informations personnelles.</p>
                  
                  <h3>Supprimer Vos données personnelles</h3>
                  
                  <p>Vous avez le droit de supprimer ou de demander que Nous Vous aidions à supprimer les Données personnelles que Nous avons collectées à Votre sujet.</p>
                  
                  <p>Notre Service peut Vous donner la possibilité de supprimer certaines informations Vous concernant à partir du Service.</p>
                  
                  <p>Vous pouvez mettre à jour, modifier ou supprimer Vos informations à tout moment en Vous connectant à Votre Compte, si Vous en avez un, et en visitant la section des paramètres du compte qui Vous permet de gérer Vos informations personnelles. Vous pouvez également Nous contacter pour demander l'accès, la correction ou la suppression de toute information personnelle que Vous Nous avez fournie.</p>
                  
                  <p>Veuillez noter, cependant, que Nous pouvons avoir besoin de conserver certaines informations lorsque Nous avons une obligation légale ou une base légitime pour le faire.</p>
                  
                  <h3>Divulgation de Vos données personnelles</h3>
                  
                  <h4>Transactions commerciales</h4>
                  
                  <p>Si la Société est impliquée dans une fusion, une acquisition ou une vente d'actifs, Vos Données personnelles peuvent être transférées. Nous Vous aviserons avant que Vos Données personnelles ne soient transférées et ne soient soumises à une Politique de confidentialité différente.</p>
                  
                  <h4>Application de la loi</h4>
                  
                  <p>Dans certaines circonstances, la Société peut être tenue de divulguer Vos Données personnelles si la loi l'exige ou en réponse à des demandes valides des autorités publiques (par exemple, un tribunal ou un organisme gouvernemental).</p>
                  
                  <h4>Autres exigences légales</h4>
                  
                  <p>La Société peut divulguer Vos Données personnelles en croyant de bonne foi qu'une telle action est nécessaire pour :</p>
                  
                  <ul>
                      <li>Se conformer à une obligation légale</li>
                      <li>Protéger et défendre les droits ou la propriété de la Société</li>
                      <li>Prévenir ou enquêter sur d'éventuels actes répréhensibles liés au Service</li>
                      <li>Protéger la sécurité personnelle des Utilisateurs du Service ou du public</li>
                      <li>Se protéger contre la responsabilité légale</li>
                  </ul>
                  
                  <h3>Sécurité de Vos données personnelles</h3>
                  
                  <p>La sécurité de Vos Données personnelles est importante pour Nous, mais n'oubliez pas qu'aucune méthode de transmission sur Internet, ou méthode de stockage électronique, n'est sécurisée à 100 %. Bien que Nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger Vos Données personnelles, Nous ne pouvons garantir leur sécurité absolue.</p>
                  
                  <h2>Confidentialité des enfants</h2>
                  
                  <p>Notre Service ne s'adresse pas aux personnes de moins de 13 ans. Nous ne collectons pas sciemment de renseignements personnels identifiables auprès de personnes de moins de 13 ans. Si Vous êtes un parent ou un tuteur et que Vous savez que Votre enfant Nous a fourni des Données personnelles, veuillez Nous contacter. Si Nous apprenons que Nous avons collecté des Données personnelles auprès d'une personne de moins de 13 ans sans vérification du consentement parental, Nous prenons des mesures pour supprimer ces informations de Nos serveurs.</p>
                  
                  <p>Si Nous devons Nous fonder sur le consentement comme base juridique pour traiter Vos informations et que Votre pays exige le consentement d'un parent, Nous pouvons exiger le consentement de Votre parent avant de collecter et d'utiliser ces informations.</p>
                  
                  <h2>Liens vers d'autres sites Web</h2>
                  
                  <p>Notre Service peut contenir des liens vers d'autres sites Web qui ne sont pas exploités par Nous. Si Vous cliquez sur un lien tiers, Vous serez redirigé vers le site de ce tiers. Nous Vous conseillons vivement de consulter la politique de confidentialité de chaque site que Vous visitez.</p>
                  
                  <p>Nous n'avons aucun contrôle sur et n'assumons aucune responsabilité quant au contenu, aux politiques de confidentialité ou aux pratiques des sites ou services de tiers.</p>
                  
                  <h2>Modifications de la présente Politique de confidentialité</h2>
                  
                  <p>Nous pouvons mettre à jour Notre Politique de confidentialité de temps à autre. Nous Vous informerons de toute modification en publiant la nouvelle Politique de confidentialité sur cette page.</p>
                  
                  <p>Nous Vous informerons par e-mail et/ou par un avis bien en évidence sur Notre Service, avant que la modification ne prenne effet et mettrons à jour la date de "Dernière mise à jour" en haut de la présente Politique de confidentialité.</p>
                  
                  <p>Il Vous est conseillé de consulter périodiquement la présente Politique de confidentialité pour prendre connaissance de toute modification. Les modifications apportées à la présente Politique de confidentialité entrent en vigueur lorsqu'elles sont publiées sur cette page.</p>
                  
                  <h2>Nous contacter</h2>
                  
                  <p>Si vous avez des questions concernant la présente Politique de confidentialité, Vous pouvez Nous contacter :</p>
                  
                  <ul>
                      <li>En visitant cette page sur notre site Web : <a href="https://www.playfiddlebops.com/fr/#about" rel="external nofollow noopener" target="_blank">https://www.playfiddlebops.com/fr/#about</a></li>
                  </ul>
                </div>
                
    
            </div>
        </div>
        <!-- content end -->
        
    
    </div>
    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li><a href="/fr/privacy">Politique de confidentialité</a></li>
                  <li><a href="/fr/terms-of-service">Conditions d'utilisation</a></li>
                </ul>
           </nav>
           <p class="copyright">© 2025 FiddleBops. Tous droits réservés.</p>
      </div>
    </footer>
    <script>
      function goToLink(event) {
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
        const url = selectedOption.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      }
  
      // Add event listener
      document.addEventListener('DOMContentLoaded', () => {
        const select = document.querySelector('select');
        if (select) {
          select.addEventListener('change', goToLink);
  
          // Set current language based on the <html> tag's lang attribute
          const htmlLang = document.documentElement.lang;
          const options = Array.from(select.options);
  
          // Try to find an option that exactly matches the lang attribute
          const currentOption = options.find(option =>
            option.getAttribute('data-lang') === htmlLang
          );
  
          if (currentOption) {
            currentOption.selected = true;
          } else {
            // If no exact match is found, try to find a default option (data-lang="en" or "/")
            let defaultOption = options.find(option =>
              option.getAttribute('data-lang') === 'en' // common default
            );
  
            if (!defaultOption) {
              defaultOption = options.find(option =>
                option.getAttribute('data-lang') === '/' // older convention
              );
            }
  
  
            if (defaultOption) {
              defaultOption.selected = true;
            }
          }
        }
      });
      </script>
</body>
</html>