    <header>
        <div class="container">
            <div class="logo">
                <h1><a href="/">Fiddle<span class="light">Bops</span></a></h1>
            </div>
             <button class="nav-toggle" aria-label="Toggle Navigation">☰</button>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/games/">ALL Games</a></li>
                     <li><a href="/sprunki-retake/">Sprunki Retake</a></li>
                     <li><a href="/sprunki-phase-5/">Sprunki Phase 5</a></li>
                     <li><a href="/sprunki-craft/">Sprunki Craft</a></li>
                </ul>
            </nav>
      <select style="float:right;">
        <option data-lang="en" data-url="/">English</option>
        <option data-lang="zh-CN" data-url="/zh/">简体中文</option>  
        <option data-lang="es" data-url="/es/">Español</option>
        <option data-lang="fr" data-url="/fr/">Français</option>
        <option data-lang="de" data-url="/de/">Deutsch</option>
        <option data-lang="ja" data-url="/ja/">日本語</option>
        <option data-lang="ko" data-url="/ko/">한국어</option>
        </select>
        </div>
    </header>