        <section class="games">
            <div class="container">
                 <div class="game-grid">

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/fiddlebops-fix/" title="FiddleBops Fix" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-fix.png" alt="FiddleBops Fix"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">FiddleBops Fix</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/fiddlebops-polos/" title="FiddleBops Polos" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-polos.png" alt="FiddleBops Polos"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">FiddleBops Polos</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/incredibox/" title="Incredibox" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/Incredibox.png" alt="Incredibox"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Incredibox v1-v9</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/fiddlebops-but-dandys-world/" title="Fiddlebops But Dandy's World" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-but-dandys-world.png" alt="Fiddlebops But Dandy's World"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Fiddlebops But Dandy's World</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/fiddlebops-sprunkbop/" title="Fiddlebops Sprunkbop" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-sprunkbop.png" alt="Fiddlebops Sprunkbop"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Fiddlebops Sprunkbop</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/fiddlebops-but-sprunki/" title="FiddleBops but Sprunki" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-but-sprunki.png" alt="FiddleBops but Sprunki"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">FiddleBops but Sprunki</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/fiddlebops-sprunki/" title="Fiddlebops Sprunki" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-sprunki-bg-1.png" alt="Fiddlebops Sprunki"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Fiddlebops Sprunki</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/fiddlebops-sprunksters-remix/" title="Fiddlebops Sprunksters remix" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-sprunksters-remix.png" alt="Fiddlebops Sprunksters remix"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Fiddlebops Sprunksters remix</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/incredibox-yellow-colorbox/" title="Incredibox Yellow Colorbox" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/Incredibox Yellow Colorbox.png" alt="Incredibox Yellow Colorbox"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Incredibox Yellow Colorbox</p></a>
                    </div>

                   <div class="game" style="padding:0px">
                   <a href="https://www.playfiddlebops.com/incredibox-cool-as-ice/" title="Incredibox Cool As Ice" style="width:100%;">
                        <div class="game-logo game-l-2">
                            <img src="/Incredibox Cool As Ice.png" alt="Incredibox Cool As Ice"  style="max-height:150px;border-top-right-radius: 10px;border-top-left-radius: 10px;">
                         </div>
                        <p style="font-size:14px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Incredibox Cool As Ice</p></a>
                    </div>

                 </div>
            </div>
        </section>