        <section class="games">
            <div class="container">
                 <div class="game-grid">

                   <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-fix/" title="FiddleBops Fix">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-fix.png" alt="FiddleBops Fix">
                         </div>
                        <p>FiddleBops Fix</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-polos/" title="FiddleBops Polos">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-polos.png" alt="FiddleBops Polos">
                         </div>
                        <p>FiddleBops Polos</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-sprunksters-remix/" title="Fiddlebops Sprunksters remix">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-sprunksters-remix.png" alt="Fiddlebops Sprunksters remix">
                         </div>
                        <p>Fiddlebops Sprunksters remix</p></a>
                    </div>
                    
                   <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-but-dandys-world/" title="Fiddlebops But Dandy's World">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-but-dandys-world.png" alt="Fiddlebops But Dandy's World">
                         </div>
                        <p>Fiddlebops But Dandy's World</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-sprunkbop/" title="Fiddlebops Sprunkbop">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-sprunkbop.png" alt="Fiddlebops Sprunkbop">
                         </div>
                        <p>Fiddlebops Sprunkbop</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-but-sprunki/" title="FiddleBops but Sprunki">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-but-sprunki.png" alt="FiddleBops but Sprunki">
                         </div>
                        <p>FiddleBops but Sprunki</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-sprunki/" title="Fiddlebops Sprunki">
                        <div class="game-logo game-l-2">
                            <img src="/fiddlebops-sprunki-bg-1.png" alt="Fiddlebops Sprunki">
                         </div>
                        <p>Fiddlebops Sprunki</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/incredibox/" title="Incredibox">
                        <div class="game-logo game-l-2">
                            <img src="/Incredibox.png" alt="Incredibox">
                         </div>
                        <p>Incredibox</p></a>
                    </div>
                   <div class="game"><a href="https://www.playfiddlebops.com/incredibox-yellow-colorbox/" title="Incredibox Yellow Colorbox">
                        <div class="game-logo game-l-2">
                            <img src="/Incredibox Yellow Colorbox.png" alt="Incredibox Yellow Colorbox">
                         </div>
                        <p>Incredibox Yellow Colorbox</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/incredibox-cool-as-ice/" title="Incredibox Cool As Ice">
                        <div class="game-logo game-l-2">
                            <img src="/Incredibox Cool As Ice.png" alt="Incredibox Cool As Ice">
                         </div>
                        <p>Incredibox Cool As Ice</p></a>
                    </div>

                 </div>
            </div>
        </section>