<div class="game-iframe-new">
  <h3>&#9658; New Games</h3>
  <ul>
   <li><a href="https://www.playfiddlebops.com/incredibox-shatter-sprunk/" title="Incredibox Shatter Sprunk"><img src="/Incredibox Shatter Sprunk.png"><div class="title">Incredibox Shatter Sprunk</div></a></li>
   <li><a href="https://www.playfiddlebops.com/sprunki-basical/" title="Sprunki Basical"><img src="/Sprunki Basical.png"><div class="title">Sprunki Basical</div></a></li>
   <li><a href="https://www.playfiddlebops.com/super-sprunki-brasil/" title="Super Sprunki Brasil"><img src="/Super Sprunki Brasil.png"><div class="title">Super Sprunki Brasil</div></a></li>
   <li><a href="https://www.playfiddlebops.com/sprunki-night-time/" title="Sprunki Night Time"><img src="/Sprunki Night Time.png"><div class="title">Sprunki Night Time</div></a></li>
  </ul>
</div>