<div class="game-iframe-new">
  <h3>&#9658; New Games</h3>
  <ul>
   <li><a href="https://www.playfiddlebops.com/super-sprunki-brasil/" title="Super Sprunki Brasil"><img src="/Super Sprunki Brasil.png"><div class="title">Super Sprunki Brasil</div></a></li>
   <li><a href="https://www.playfiddlebops.com/sprunki-night-time/" title="Sprunki Night Time"><img src="/Sprunki Night Time.png"><div class="title">Sprunki Night Time</div></a></li>
    <li><a href="https://www.playfiddlebops.com/sprunki-cool-as-ice/" title="Sprunki Cool As Ice"><img src="/Sprunki Cool As Ice.png"><div class="title">Sprunki Cool As Ice</div></a></li>
   <li><a href="https://www.playfiddlebops.com/sprunki-retake/" title="Sprunki Retake"><img src="/Sprunki Retake.png"><div class="title">Sprunki Retake</div></a></li>
  </ul>
</div>