<div class="game-iframe-new">
  <h3>&#9658; New Games</h3>
  <ul>
   <li><a href="https://www.playfiddlebops.com/sprunki-phase-5/" title="Sprunki Phase 5"><img src="/Sprunki Phase 5.png"><div class="title">Sprunki Phase 5</div></a></li>
    <li><a href="https://www.playfiddlebops.com/sprunkle-bops/" title="Sprunkle Bops"><img src="/sprunklebops.png"><div class="title">Sprunkle Bops</div></a></li>
    <li><a href="https://www.dragonsweepers.net/" title="Dragonsweeper"><img src="/dragon-1.png"><div class="title">Dragonsweeper</div></a></li>
    <li><a href="https://www.playfiddlebops.com/fiddlebops-sprunki/" title="Fiddlebops Sprunki"><img src="/fiddlebops-sprunki-bg-1.png"><div class="title">Fiddlebops Sprunki</div></a></li>
  </ul>
</div>