<div class="game-iframe-new">
  <h3>&#9658; New Games</h3>
  <ul>
   <li><a href="https://www.playfiddlebops.com/incredibox/" title="Incredibox"><img src="/Incredibox.png"><div class="title">Incredibox v1 - v9</div></a></li>
   <li><a href="https://www.playfiddlebops.com/crossyroad/" title="Crossy Road"><img src="/crossy-road.jpg"><div class="title">Crossy Road</div></a></li>
   <li><a href="https://www.playfiddlebops.com/minecraft-cave-escape/" title="Minecraft Cave Escape"><img src="/minecraft-cave-escape.png"><div class="title">Minecraft Cave Escape</div></a></li>
   <li><a href="https://www.playfiddlebops.com/geometry-dash/" title="Geometry Dash Wave Spam"><img src="/geometry-dash.png"><div class="title">Geometry Dash Wave Spam</div></a></li>
  </ul>
</div>