<div class="game-iframe-new">
  <h3>&#9658; New Games</h3>
  <ul>
   <li><a href="https://www.playfiddlebops.com/sprunki-retake/" title="Sprunki Retake"><img src="/Sprunki Retake.png"><div class="title">Sprunki Retake</div></a></li>
   <li><a href="https://www.playfiddlebops.com/incredibox-yellow-colorbox/" title="Incredibox Yellow Colorbox"><img src="/Incredibox Yellow Colorbox.png"><div class="title">Incredibox Yellow Colorbox</div></a></li>
   <li><a href="https://www.playfiddlebops.com/sprunki-phase-5/" title="Sprunki Phase 5"><img src="/Sprunki Phase 5.png"><div class="title">Sprunki Phase 5</div></a></li>
    <li><a href="https://www.playfiddlebops.com/sprunkle-bops/" title="Sprunkle Bops"><img src="/sprunklebops.png"><div class="title">Sprunkle Bops</div></a></li>
  </ul>
</div>