<div class="game-iframe-new">
  <h3>&#9658; New Games</h3>
  <ul>
   <li><a href="https://www.playfiddlebops.com/pikmin-no-sprunki/" title="Pikmin No Sprunki"><img src="/pikmin-no-sprunki.png"><div class="title">Pikmin No Sprunki</div></a></li>
   <li><a href="https://www.playfiddlebops.com/the-haze-pixelbox/" title="The Haze Pixelbox"><img src="/the-haze-pixelbox.png"><div class="title">The Haze Pixelbox</div></a></li>
   <li><a href="https://www.playfiddlebops.com/yojou-sprunki-mustard/" title="Yojou Sprunki Mustard"><img src="/yojou-sprunki-mustard.png"><div class="title">Yojou Sprunki Mustard</div></a></li>
   <li><a href="https://www.playfiddlebops.com/sprunki-retake-bonus-characters/" title="Sprunki Retake Bonus Characters"><img src="/sprunki-retake-bonus-characters.png"><div class="title">Sprunki Retake Bonus Characters</div></a></li>
  </ul>
</div>