---
import GameLayout from '../layouts/GameLayout.astro';
---

<GameLayout
  title="Sprunkle Bops - Play Sprunkle Bops Online"
  description="Sprunkle Bops is a fan-made expansion of the popular Incredibox music-mixing game, offering a creative twist with custom mods, new phases, and unique gameplay elements."
  keywords="Sprunkle Bops, Sprunkle Bops online"
  canonicalUrl="https://www.playfiddlebops.com/sprunkle-bops/"
  ogImage="https://www.playfiddlebops.com/sprunklebops.png"
  gameImage="/sprunklebops.png"
  gameId="sprunkle-bops-iframe"
  gameIframeUrl="https://turbowarp.org/1122091658/embed"
>
  <section class="about" id="about">
    <div class="container">
      <h2>About Sprunkle Bops</h2>
      <div class="about-content">
          <p><a href="/" style="float:left;">home</a> > Sprunkle Bops</p>
          <div class="stars"><svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223; " class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg> <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223; " class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg> <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223; " class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg> <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223; " class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg> <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #9E9E9E;--hoverColor: #9E9E9E;fill: #9E9E9E;" class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg>  4.3/5  (524 votes)</div>
                    <h3>Introducing to Sprunkle Bops</h3>
                     <p>Sprunkle Bops is a fan-made expansion of the popular Incredibox music-mixing game, offering a creative twist with custom mods, new phases, and unique gameplay elements. Loved by music enthusiasts and gamers alike, Sprunki Game allows players to mix beats, vocals, and melodies while exploring diverse themes and characters.</p>
                    <hr>


                    <h3>Sprunkle Bops Gameplay</h3><ul>
                      <li>Start the Battle: You'll face off against various popular characters, each bringing their own musical flair to the rap battle. The goal is simple – follow the rhythm of the beat and land the correct notes at the right time to keep your performance on point.</li>
                      <li>Catch the Beat: Use your keyboard or touch controls to match the beats. You can press the ARROW KEYS, W, A, S, D, or simply tap the corresponding buttons if you are playing on a mobile device. As the music plays, the arrows will appear on your screen. Your task is to hit the matching key when they align with the beat.</li>
                      <li>Stay on Rhythm: As the beat intensifies, stay focused! Each character's rap skills are powerful, and only those who can master the rhythm will win. Don't miss a note or it'll cost you the chance to win the battle.</li>
                      </ul>


         </div>
    </div>
  </section>
</GameLayout>