---
import NAV from './nav.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service | FiddleBops</title>
    <link rel="stylesheet" href="/main.css">
    <meta name="robots" content="index, follow"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="https://www.playfiddlebops.com/terms-of-service/"/>
    <style>
      .tab-content{background-color:#fcfcfc;padding:40px 30px;border-radius:15px;margin-bottom:20px}
    </style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const navToggle = document.querySelector('.nav-toggle');
  const navMenu = document.querySelector('.nav-menu');

  navToggle.addEventListener('click', function() {
    navMenu.classList.toggle('active');
  });

});
</script><!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9JME3P55QJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9JME3P55QJ');
</script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
              <h1><a href="/">Fiddle<span class="light">Bops</span></a></h1>
            </div>
             <button class="nav-toggle" aria-label="Toggle Navigation">☰</button>
            <nav class="nav-menu">
                <ul>
                   <li><a href="/">Home</a></li>
                    <NAV />
                </ul>
            </nav>
      <select style="float:right;">
        <option data-lang="en" data-url="/terms-of-service/">English</option>
        <option data-lang="zh-CN" data-url="/zh/terms-of-service/">简体中文</option>  
        <option data-lang="es" data-url="/es/terms-of-service/">Español</option>
        <option data-lang="fr" data-url="/fr/terms-of-service/">Français</option>
        <option data-lang="de" data-url="/de/terms-of-service/">Deutsch</option>
        <option data-lang="ja" data-url="/ja/terms-of-service/">日本語</option>
        <option data-lang="ko" data-url="/ko/terms-of-service/">한국어</option>
        </select>
        </div>
    </header>

    <main>
      <div class="page">

        <div class="header">
            <div class="container">
                <p class="title"></p>
            </div>
        </div>
    
        
    
        <div class="translations-content-container">
            <div class="container">
    
                
                <div class="tab-content translations-content-item en visible" id="en">
                  <h1 data-custom-class="title">TERMS OF SERVICE</h1>
                  <p data-custom-class="subtitle"><strong>Last updated</strong> February 10, 2025</p>
                  <br>
                  <h2 data-custom-class="heading_1">AGREEMENT TO OUR LEGAL TERMS</h2>
                  <a name="_6aa3gkhykvst"></a>
                  <p data-custom-class="body_text">
                  we are
                  <bdt class="question">playfiddlebops</bdt>.
                  </p>
                  
                  <p data-custom-class="body_text">
                  we operate the website
                  <a href="http://www.playfiddlebops.com" target="_blank" data-custom-class="link">http://www.playfiddlebops.com</a>
                  (the "<strong>Site</strong>"), as well as any other related products and services that refer or link to these legal terms (the "<strong>Legal Terms</strong>") (collectively, the "<strong>Services</strong>").
                  </p>
                  
                  <p data-custom-class="body_text">
                  you can contact us by email at
                  <bdt class="question">chongzhidatech@gmail.com</bdt>
                  </p>
                  
                  <p data-custom-class="body_text">
                  these legal terms constitute a legally binding agreement made between you, whether personally or on behalf of an entity ("<strong>you</strong>"),  concerning your access to and use of the Services. You agree that by accessing the Services, you have read, understood, and agreed to be bound by all of these Legal Terms. <strong>if you do not agree with all of these legal terms, then you are expressly prohibited from using the services and you must discontinue use immediately.</strong>
                  </p>
                  
                  <p data-custom-class="body_text">
                  supplemental terms and conditions or documents that may be posted on the Services from time to time are hereby expressly incorporated herein by reference. we reserve the right, in our sole discretion, to make changes or modifications to these legal terms from time to time. we will alert you about any changes by updating the "last updated" date of these legal terms, and you waive any right to receive specific notice of each such change. it is your responsibility to periodically review these legal terms to stay informed of updates. you will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised legal terms by your continued use of the services after the date such revised legal terms are posted.
                  </p>
                  
                  <p data-custom-class="body_text">
                  the services are intended for users who are at least 18 years old. persons under the age of 18 are not permitted to use or register for the services.
                  </p>
                  
                  <p data-custom-class="body_text">
                  we recommend that you print a copy of these legal terms for your records.
                  </p>
                  
                  <h2 data-custom-class="heading_1">TABLE OF CONTENTS</h2>
                  <p><a href="#services">1. OUR SERVICES</a></p>
                  <p><a href="#ip">2. INTELLECTUAL PROPERTY RIGHTS</a></p>
                  <p><a href="#userreps">3. USER REPRESENTATIONS</a></p>
                  <p><a href="#prohibited">4. PROHIBITED ACTIVITIES</a></p>
                  <p><a href="#ugc">5. USER GENERATED CONTRIBUTIONS</a></p>
                  <p><a href="#license">6. CONTRIBUTION LICENSE</a></p>
                  <p><a href="#thirdparty">7. THIRD-PARTY WEBSITES AND CONTENT</a></p>
                  <p><a href="#advertisers">8. ADVERTISERS</a></p>
                  <p><a href="#sitemanage">9. SERVICES MANAGEMENT</a></p>
                  <p><a href="#ppyes">10. PRIVACY POLICY</a></p>
                  <p><a href="#terms">11. TERM AND TERMINATION</a></p>
                  <p><a href="#modifications">12. MODIFICATIONS AND INTERRUPTIONS</a></p>
                  <p><a href="#law">13. GOVERNING LAW</a></p>
                  <p><a href="#disputes">14. DISPUTE RESOLUTION</a></p>
                  <p><a href="#corrections">15. CORRECTIONS</a></p>
                  <p><a href="#disclaimer">16. DISCLAIMER</a></p>
                  <p><a href="#liability">17. LIMITATIONS OF LIABILITY</a></p>
                  <p><a href="#indemnification">18. INDEMNIFICATION</a></p>
                  <p><a href="#userdata">19. USER DATA</a></p>
                  <p><a href="#electronic">20. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</a></p>
                  <p><a href="#misc">21. MISCELLANEOUS</a></p>
                  <p><a href="#contact">22. CONTACT US</a></p>
                  
                  <a name="_b6y29mp52qvx"></a>
                  
                  <h2 data-custom-class="heading_1" id="services">1. OUR SERVICES</h2>
                  
                  <p data-custom-class="body_text">
                  the information provided when using the services is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. accordingly, those persons who choose to access the services from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.
                  </p>
                  
                  <p data-custom-class="body_text">
                  the services are not tailored to comply with industry-specific regulations (health insurance portability and accountability act (hipaa), federal information security management act (fisma), etc.), so if your interactions would be subjected to such laws, you may not use the services. you may not use the services in a way that would violate the gramm-leach-bliley act (glba).
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="ip">2. INTELLECTUAL PROPERTY RIGHTS</h2>
                  
                  <h3 data-custom-class="heading_2">Our intellectual property</h3>
                  <p data-custom-class="body_text">
                  we are the owner or the licensee of all intellectual property rights in our services, including all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics in the services (collectively, the "content"), as well as the trademarks, service marks, and logos contained therein (the "marks").
                  </p>
                  <p data-custom-class="body_text">
                  our content and marks are protected by copyright and trademark laws (and various other intellectual property rights and unfair competition laws) and treaties in the united states and around the world.
                  </p>
                  <p data-custom-class="body_text">
                  the content and marks are provided in or through the services "as is" for your personal, non-commercial use or internal business purpose only.
                  </p>
                  
                  <h3 data-custom-class="heading_2">Your use of our Services</h3>
                  <p data-custom-class="body_text">
                  subject to your compliance with these legal terms, including the <a data-custom-class="link" href="#prohibited">prohibited activities</a> section below, we grant you a non-exclusive, non-transferable, revocable license to:
                  </p>
                  <ul>
                      <li data-custom-class="body_text">access the services; and</li>
                      <li data-custom-class="body_text">download or print a copy of any portion of the content to which you have properly gained access,</li>
                  </ul>
                  <p data-custom-class="body_text">
                  solely for your personal, non-commercial use or internal business purpose.
                  </p>
                  <p data-custom-class="body_text">
                  except as set out in this section or elsewhere in our legal terms, no part of the services and no content or marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.
                  </p>
                  <p data-custom-class="body_text">
                  if you wish to make any use of the services, content, or marks other than as set out in this section or elsewhere in our legal terms, please address your request to: chongzhidatech@gmail.com. if we ever grant you the permission to post, reproduce, or publicly display any part of our services or content, you must identify us as the owners or licensors of the services, content, or marks and ensure that any copyright or proprietary notice appears or is visible on posting, reproducing, or displaying our content.
                  </p>
                  <p data-custom-class="body_text">
                  we reserve all rights not expressly granted to you in and to the services, content, and marks.
                  </p>
                  <p data-custom-class="body_text">
                  any breach of these intellectual property rights will constitute a material breach of our legal terms and your right to use our services will terminate immediately.
                  </p>
                  
                  <h3 data-custom-class="heading_2">Your submissions</h3>
                  <p data-custom-class="body_text">
                  please review this section and the <a data-custom-class="link" href="#prohibited">prohibited activities</a> section carefully prior to using our services to understand the (a) rights you give us and (b) obligations you have when you post or upload any content through the services.
                  </p>
                  <p data-custom-class="body_text">
                  <strong>submissions:</strong> by directly sending us any question, comment, suggestion, idea, feedback, or other information about the services ("submissions"), you agree to assign to us all intellectual property rights in such submission. you agree that we shall own this submission and be entitled to its unrestricted use and dissemination for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to you.
                  </p>
                  <p data-custom-class="body_text">
                  <strong>you are responsible for what you post or upload:</strong> by sending us submissions through any part of the services you:
                  </p>
                  <ul>
                          <li data-custom-class="body_text">confirm that you have read and agree with our <a data-custom-class="link" href="#prohibited">prohibited activities</a> and will not post, send, publish, upload, or transmit through the services any submission that is illegal, harassing, hateful, harmful, defamatory, obscene, bullying, abusive, discriminatory, threatening to any person or group, sexually explicit, false, inaccurate, deceitful, or misleading;</li>
                          <li data-custom-class="body_text">to the extent permissible by applicable law, waive any and all moral rights to any such submission;</li>
                          <li data-custom-class="body_text">warrant that any such submission are original to you or that you have the necessary rights and licenses to submit such submissions and that you have full authority to grant us the above-mentioned rights in relation to your submissions; and</li>
                          <li data-custom-class="body_text">warrant and represent that your submissions do not constitute confidential information.</li>
                      </ul>
                  <p data-custom-class="body_text">
                  you are solely responsible for your submissions and you expressly agree to reimburse us for any and all losses that we may suffer because of your breach of (a) this section, (b) any third party’s intellectual property rights, or (c) applicable law.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="userreps">3. USER REPRESENTATIONS</h2>
                  <p data-custom-class="body_text">
                  by using the services, you represent and warrant that: (1) you have the legal capacity and you agree to comply with these legal terms; (2) you are not a minor in the jurisdiction in which you reside; (3) you will not access the services through automated or non-human means, whether through a bot, script or otherwise; (4) you will not use the services for any illegal or unauthorized purpose; and (5) your use of the services will not violate any applicable law or regulation.
                  </p>
                  <p data-custom-class="body_text">
                  if you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the services (or any portion thereof).
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="prohibited">4. PROHIBITED ACTIVITIES</h2>
                  <p data-custom-class="body_text">
                  you may not access or use the services for any purpose other than that for which we make the services available. the services may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.
                  </p>
                  <p data-custom-class="body_text">
                  as a user of the services, you agree not to:
                  </p>
                  <ul>
                      <li data-custom-class="body_text">systematically retrieve data or other content from the services to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.</li>
                      <li data-custom-class="body_text">trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords.</li>
                      <li data-custom-class="body_text">circumvent, disable, or otherwise interfere with security-related features of the services, including features that prevent or restrict the use or copying of any content or enforce limitations on the use of the services and/or the content contained therein.</li>
                      <li data-custom-class="body_text">disparage, tarnish, or otherwise harm, in our opinion, us and/or the services.</li>
                      <li data-custom-class="body_text">use any information obtained from the services in order to harass, abuse, or harm another person.</li>
                      <li data-custom-class="body_text">make improper use of our support services or submit false reports of abuse or misconduct.</li>
                      <li data-custom-class="body_text">use the services in a manner inconsistent with any applicable laws or regulations.</li>
                      <li data-custom-class="body_text">engage in unauthorized framing of or linking to the services.</li>
                      <li data-custom-class="body_text">upload or transmit (or attempt to upload or to transmit) viruses, trojan horses, or other material, including excessive use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted use and enjoyment of the services or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the services.</li>
                      <li data-custom-class="body_text">engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools.</li>
                      <li data-custom-class="body_text">delete the copyright or other proprietary rights notice from any content.</li>
                      <li data-custom-class="body_text">attempt to impersonate another user or person or use the username of another user.</li>
                      <li data-custom-class="body_text">upload or transmit (or attempt to upload or to transmit) any material that acts as a passive or active information collection or transmission mechanism, including without limitation, clear graphics interchange formats ("gifs"), 1×1 pixels, web bugs, cookies, or other similar devices (sometimes referred to as "spyware" or "passive collection mechanisms" or "pcms").</li>
                      <li data-custom-class="body_text">interfere with, disrupt, or create an undue burden on the services or the networks or services connected to the services.</li>
                      <li data-custom-class="body_text">harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of the services to you.</li>
                      <li data-custom-class="body_text">attempt to bypass any measures of the services designed to prevent or restrict access to the services, or any portion of the services.</li>
                      <li data-custom-class="body_text">copy or adapt the services' software, including but not limited to flash, php, html, javascript, or other code.</li>
                      <li data-custom-class="body_text">except as permitted by applicable law, decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the services.</li>
                      <li data-custom-class="body_text">except as may be the result of standard search engine or internet browser usage, use, launch, develop, or distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or offline reader that accesses the services, or use or launch any unauthorized script or other software.</li>
                      <li data-custom-class="body_text">use a buying agent or purchasing agent to make purchases on the services.</li>
                      <li data-custom-class="body_text">make any unauthorized use of the services, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.</li>
                      <li data-custom-class="body_text">use the services as part of any effort to compete with us or otherwise use the services and/or the content for any revenue-generating endeavor or commercial enterprise.</li>
                  </ul>
                  
                  <h2 data-custom-class="heading_1" id="ugc">5. USER GENERATED CONTRIBUTIONS</h2>
                  <p data-custom-class="body_text">
                  the services does not offer users to submit or post content. we may provide you with the opportunity to create, submit, post, display, transmit, perform, publish, distribute, or broadcast content and materials to us or on the services, including but not limited to text, writings, video, audio, photographs, graphics, comments, suggestions, or personal information or other material (collectively, "contributions"). contributions may be viewable by other users of the services and through third-party websites. as such, any contributions you transmit may be treated in accordance with the services' privacy policy. when you create or make available any contributions, you thereby represent and warrant that:
                  </p>
                  <ul>
                      <li data-custom-class="body_text">the creation, distribution, transmission, public display, or performance, and the accessing, downloading, or copying of your contributions do not and will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark, trade secret, or moral rights of any third party.</li>
                      <li data-custom-class="body_text">you are the creator and owner of or have the necessary licenses, rights, consents, releases, and permissions to use and to authorize us, the services, and other users of the services to use your contributions in any manner contemplated by the services and these legal terms.</li>
                      <li data-custom-class="body_text">you have the written consent, release, and/or permission of each and every identifiable individual person in your contributions to use the name or likeness of each and every such identifiable individual person to enable inclusion and use of your contributions in any manner contemplated by the services and these legal terms.</li>
                      <li data-custom-class="body_text">your contributions are not false, inaccurate, or misleading.</li>
                      <li data-custom-class="body_text">your contributions are not unsolicited or unauthorized advertising, promotional materials, pyramid schemes, chain letters, spam, mass mailings, or other forms of solicitation.</li>
                      <li data-custom-class="body_text">your contributions are not obscene, lewd, lascivious, filthy, violent, harassing, libelous, slanderous, or otherwise objectionable (as determined by us).</li>
                      <li data-custom-class="body_text">your contributions do not ridicule, mock, disparage, intimidate, or abuse anyone.</li>
                      <li data-custom-class="body_text">your contributions are not used to harass or threaten (in the legal sense of those terms) any other person and to promote violence against a specific person or class of people.</li>
                      <li data-custom-class="body_text">your contributions do not violate any applicable law, regulation, or rule.</li>
                      <li data-custom-class="body_text">your contributions do not violate the privacy or publicity rights of any third party.</li>
                      <li data-custom-class="body_text">your contributions do not violate any applicable law concerning child pornography, or otherwise intended to protect the health or well-being of minors.</li>
                      <li data-custom-class="body_text">your contributions do not include any offensive comments that are connected to race, national origin, gender, sexual preference, or physical handicap.</li>
                      <li data-custom-class="body_text">your contributions do not otherwise violate, or link to material that violates, any provision of these legal terms, or any applicable law or regulation.</li>
                  </ul>
                  <p data-custom-class="body_text">
                  any use of the services in violation of the foregoing violates these legal terms and may result in, among other things, termination or suspension of your rights to use the services.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="license">6. CONTRIBUTION LICENSE</h2>
                  <p data-custom-class="body_text">
                  you and services agree that we may access, store, process, and use any information and personal data that you provide following the terms of the privacy policy and your choices (including settings).
                  </p>
                  <p data-custom-class="body_text">
                  by submitting suggestions or other feedback regarding the services, you agree that we can use and share such feedback for any purpose without compensation to you.
                  </p>
                  <p data-custom-class="body_text">
                  we do not assert any ownership over your contributions. you retain full ownership of all of your contributions and any intellectual property rights or other proprietary rights associated with your contributions. we are not liable for any statements or representations in your contributions provided by you in any area on the services. you are solely responsible for your contributions to the services and you expressly agree to exonerate us from any and all responsibility and to refrain from any legal action against us regarding your contributions.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="thirdparty">7. THIRD-PARTY WEBSITES AND CONTENT</h2>
                  <p data-custom-class="body_text">
                  the services may contain (or you may be sent via the site) links to other websites ("third-party websites") as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software, and other content or items belonging to or originating from third parties ("third-party content"). such third-party websites and third-party content are not investigated, monitored, or checked for accuracy, appropriateness, or completeness by us, and we are not responsible for any third-party websites accessed through the services or any third-party content posted on, available through, or installed from the services, including the content, accuracy, offensiveness, opinions, reliability, privacy practices, or other policies of or contained in the third-party websites or the third-party content. inclusion of, linking to, or permitting the use or installation of any third-party websites or any third-party content does not imply approval or endorsement thereof by us. if you decide to leave the services and access the third-party websites or to use or install any third-party content, you do so at your own risk, and you should be aware these legal terms no longer govern. you should review the applicable terms and policies, including privacy and data gathering practices, of any website to which you navigate from the services or relating to any applications you use or install from the services. any purchases you make through third-party websites will be through other websites and from other companies, and we take no responsibility whatsoever in relation to such purchases which are exclusively between you and the applicable third party. you agree and acknowledge that we do not endorse the products or services offered on third-party websites and you shall hold us blameless from any harm caused by your purchase of such products or services. additionally, you shall hold us blameless from any losses sustained by you or harm caused to you relating to or resulting in any way from any third-party content or any contact with third-party websites.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="advertisers">8. ADVERTISERS</h2>
                  <p data-custom-class="body_text">
                  we allow advertisers to display their advertisements and other information in certain areas of the services, such as sidebar advertisements or banner advertisements. we simply provide the space to place such advertisements, and we have no other relationship with advertisers.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="sitemanage">9. SERVICES MANAGEMENT</h2>
                  <p data-custom-class="body_text">
                  we reserve the right, but not the obligation, to: (1) monitor the services for violations of these legal terms; (2) take appropriate legal action against anyone who, in our sole discretion, violates the law or these legal terms, including without limitation, reporting such user to law enforcement authorities; (3) in our sole discretion and without limitation, refuse, restrict access to, limit the availability of, or disable (to the extent technologically feasible) any of your contributions or any portion thereof; (4) in our sole discretion and without limitation, notice, or liability, to remove from the services or otherwise disable all files and content that are excessive in size or are in any way burdensome to our systems; and (5) otherwise manage the services in a manner designed to protect our rights and property and to facilitate the proper functioning of the services.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="ppyes">10. PRIVACY POLICY</h2>
                  <p data-custom-class="body_text">
                  we care about data privacy and security. please review our privacy policy: <strong><a href="https://www.playfiddlebops.com/privacy/" target="_blank" data-custom-class="link">https://www.playfiddlebops.com/privacy/</a></strong>. by using the services, you agree to be bound by our privacy policy, which is incorporated into these legal terms. please be advised the services are hosted in the united states. if you access the services from any other region of the world with laws or other requirements governing personal data collection, use, or disclosure that differ from applicable laws in the united states, then through your continued use of the services, you are transferring your data to the united states, and you expressly consent to have your data transferred to and processed in the united states.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="terms">11. TERM AND TERMINATION</h2>
                  <p data-custom-class="body_text">
                  these legal terms shall remain in full force and effect while you use the services. without limiting any other provision of these legal terms, we reserve the right to, in our sole discretion and without notice or liability, deny access to and use of the services (including blocking certain ip addresses), to any person for any reason or for no reason, including without limitation for breach of any representation, warranty, or covenant contained in these legal terms or of any applicable law or regulation. we may terminate your use or participation in the services or delete any content or information that you posted at any time, without warning, in our sole discretion.
                  </p>
                  <p data-custom-class="body_text">
                  if we terminate or suspend your account for any reason, you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party. in addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including without limitation pursuing civil, criminal, and injunctive redress.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="modifications">12. MODIFICATIONS AND INTERRUPTIONS</h2>
                  <p data-custom-class="body_text">
                  we reserve the right to change, modify, or remove the contents of the services at any time or for any reason at our sole discretion without notice. however, we have no obligation to update any information on our services. we will not be liable to you or any third party for any modification, price change, suspension, or discontinuance of the services.
                  </p>
                  <p data-custom-class="body_text">
                  we cannot guarantee the services will be available at all times. we may experience hardware, software, or other problems or need to perform maintenance related to the services, resulting in interruptions, delays, or errors. we reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the services at any time or for any reason without notice to you. you agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the services during any downtime or discontinuance of the services. nothing in these legal terms will be construed to obligate us to maintain and support the services or to supply any corrections, updates, or releases in connection therewith.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="law">13. GOVERNING LAW</h2>
                  <p data-custom-class="body_text">
                  these legal terms and your use of the services are governed by and construed in accordance with the laws of the state of state applicable to agreements made and to be entirely performed within the state of state, without regard to its conflict of law principles.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="disputes">14. DISPUTE RESOLUTION</h2>
                  <h3 data-custom-class="heading_2">Informal Negotiations</h3>
                  <p data-custom-class="body_text">
                  to expedite resolution and control the cost of any dispute, controversy, or claim related to these legal terms (each a "dispute" and collectively, the "disputes") brought by either you or us (individually, a "party" and collectively, the "parties"), the parties agree to first attempt to negotiate any dispute (except those disputes expressly provided below) informally for at least thirty (30) days before initiating arbitration. such informal negotiations commence upon written notice from one party to the other party.
                  </p>
                  <h3 data-custom-class="heading_2">Binding Arbitration</h3>
                  <p data-custom-class="body_text">
                  any dispute arising from the relationships between the parties to these legal terms shall be determined by one arbitrator who will be chosen in accordance with the arbitration and internal rules of the european court of arbitration being part of the european centre of arbitration having its seat in strasbourg, and which are in force at the time the application for arbitration is filed, and of which adoption of this clause constitutes acceptance. the seat of arbitration shall be paris, france. the language of the proceedings shall be français. applicable rules of substantive law shall be the law of france.
                  </p>
                  <h3 data-custom-class="heading_2">Restrictions</h3>
                  <p data-custom-class="body_text">
                  the parties agree that any arbitration shall be limited to the dispute between the parties individually. to the full extent permitted by law, (a) no arbitration shall be joined with any other proceeding; (b) there is no right or authority for any dispute to be arbitrated on a class-action basis or to utilize class action procedures; and (c) there is no right or authority for any dispute to be brought in a purported representative capacity on behalf of the general public or any other persons.
                  </p>
                  <h3 data-custom-class="heading_2">Exceptions to Informal Negotiations and Arbitration</h3>
                  <p data-custom-class="body_text">
                  the parties agree that the following disputes are not subject to the above provisions concerning informal negotiations binding arbitration: (a) any disputes seeking to enforce or protect, or concerning the validity of, any of the intellectual property rights of a party; (b) any dispute related to, or arising from, allegations of theft, piracy, invasion of privacy, or unauthorized use; and (c) any claim for injunctive relief. if this provision is found to be illegal or unenforceable, then neither party will elect to arbitrate any dispute falling within that portion of this provision found to be illegal or unenforceable and such dispute shall be decided by a court of competent jurisdiction within the courts listed for jurisdiction above, and the parties agree to submit to the personal jurisdiction of that court.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="corrections">15. CORRECTIONS</h2>
                  <p data-custom-class="body_text">
                  there may be information on the services that contains typographical errors, inaccuracies, or omissions, including descriptions, pricing, availability, and various other information. we reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information on the services at any time, without prior notice.
                  </p>
                  
                  <h2 data-custom-class="heading_1" id="disclaimer">16. DISCLAIMER</h2>
                  <p data-custom-class="body_text">
                  the services are provided on an as-is and as-available basis. you agree that your use of the services will be at your sole risk. to the fullest extent permitted by law, we disclaim all warranties, express or implied, in connection with the services and your use thereof, including, without limitation, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. we make no warranties or representations about the accuracy or completeness of the services' content or the content of any websites or mobile applications linked to the services and we will assume no liability or responsibility for any (1) errors, mistakes, or inaccuracies of content and materials, (2) personal injury or property damage, of any nature whatsoever, resulting from your access to and use of the services, (3) any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein, (4) any interruption or cessation of transmission to or from the services, (5) any bugs, viruses, trojan horses, or the like which may be transmitted to or through the services by any third party, and/or (6) any errors or omissions in any content and materials or for any loss or damage of any kind incurred as a result of the use of any content posted, transmitted, or otherwise made available via the services. we do not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the services, any hyperlinked website, or any website or mobile application featured in any banner or other advertising, and we will not be a party to or in any way be responsible for monitoring any transaction between you and any third-party providers of products or services. as with the purchase of a product or service through any medium or in any environment, you should use your best judgment and exercise caution where appropriate.
                  
                  </p>
                  <h2 data-custom-class="heading_1" id="liability">17. LIMITATIONS OF LIABILITY</h2>
                  <p data-custom-class="body_text">
                  in no event will we or our directors, employees, or agents be liable to you or any third party for any direct, indirect, consequential, exemplary, incidental, special, or punitive damages, including lost profit, lost revenue, loss of data, or other damages arising from your use of the services, even if we have been advised of the possibility of such damages. certain us state laws and international laws do not allow limitations on implied warranties or the exclusion or limitation of certain damages. if these laws apply to you, some or all of the above disclaimers or limitations may not apply to you, and you may have additional rights.
                  </p>
                  <h2 data-custom-class="heading_1" id="indemnification">18. INDEMNIFICATION</h2>
                  <p data-custom-class="body_text">
                  you agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of: (1) use of the services; (2) breach of these legal terms; (3) any breach of your representations and warranties set forth in these legal terms; (4) your violation of the rights of a third party, including but not limited to intellectual property rights; or (5) any overt harmful act toward any other user of the services with whom you connected via the services. notwithstanding the foregoing, we reserve the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate, at your expense, with our defense of such claims. we will use reasonable efforts to notify you of any such claim, action, or proceeding which is subject to this indemnification upon becoming aware of it.
                  </p>
                  <h2 data-custom-class="heading_1" id="userdata">19. USER DATA</h2>
                  <p data-custom-class="body_text">
                  we will maintain certain data that you transmit to the services for the purpose of managing the performance of the services, as well as data relating to your use of the services. although we perform regular routine backups of data, you are solely responsible for all data that you transmit or that relates to any activity you have undertaken using the services. you agree that we shall have no liability to you for any loss or corruption of any such data, and you hereby waive any right of action against us arising from any such loss or corruption of such data.
                  </p>
                  <h2 data-custom-class="heading_1" id="electronic">20. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h2>
                  <p data-custom-class="body_text">
                  visiting the services, sending us emails, and completing online forms constitute electronic communications. you consent to receive electronic communications, and you agree that all agreements, notices, disclosures, and other communications we provide to you electronically, via email and on the services, satisfy any legal requirement that such communication be in writing. you hereby agree to the use of electronic signatures, contracts, orders, and other records, and to electronic delivery of notices, policies, and records of transactions initiated or completed by us or via the services. you hereby waive any rights or requirements under any statutes, regulations, rules, ordinances, or other laws in any jurisdiction which require an original signature or delivery or retention of non-electronic records, or to payments or the granting of credits by any means other than electronic means.
                  </p>
                  <h2 data-custom-class="heading_1" id="misc">21. MISCELLANEOUS</h2>
                  <p data-custom-class="body_text">
                  these legal terms and any policies or operating rules posted by us on the services or in respect to the services constitute the entire agreement and understanding between you and us. our failure to exercise or enforce any right or provision of these legal terms shall not operate as a waiver of such right or provision. these legal terms operate to the fullest extent permissible by law. we may assign any or all of our rights and obligations to others at any time. we shall not be responsible or liable for any loss, damage, delay, or failure to act caused by any cause beyond our reasonable control. if any provision or part of a provision of these legal terms is determined to be unlawful, void, or unenforceable, that provision or part of the provision is deemed severable from these legal terms and does not affect the validity and enforceability of any remaining provisions. there is no joint venture, partnership, employment or agency relationship created between you and us as a result of these legal terms or use of the services. you agree that these legal terms will not be construed against us by virtue of having drafted them. you hereby waive any and all defenses you may have based on the electronic form of these legal terms and the lack of signing by the parties hereto to execute these legal terms.
                  </p>
                  <h2 data-custom-class="heading_1" id="contact">22. CONTACT US</h2>
                  <p data-custom-class="body_text">
                  in order to resolve a complaint regarding the services or to receive further information regarding use of the services, please contact us at: chongzhidatech@gmail.com
                  </p>
                </div>
                
    
            </div>
        </div>
        <!-- content end -->
        
    
    </div>
    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li><a href="/privacy/">Privacy Policy</a></li>
                  <li><a href="/terms-of-service/">Terms of service</a></li>
                </ul>
           </nav>
           <p class="copyright">© 2025 FiddleBops. All rights reserved.</p>
      </div>
    </footer>
  <script>
    function goToLink(event) {
      const select = event.target;
      const selectedOption = select.options[select.selectedIndex];
      const url = selectedOption.getAttribute('data-url');
      if (url) {
      window.location.href = url;
      }
    }
    
    // Add event listener
    document.addEventListener('DOMContentLoaded', () => {
      const select = document.querySelector('select');
      if (select) {
      select.addEventListener('change', goToLink);
      
      // Set current language
      const currentPath = window.location.pathname;
      const options = Array.from(select.options);
      const currentOption = options.find(option => 
        option.getAttribute('data-url') === currentPath
      );
      
      if (currentOption) {
        currentOption.selected = true;
      } else {
        // If it's the root path or no matching option is found, select English (default language)
        const defaultOption = options.find(option => 
        option.getAttribute('data-url') === '/'
        );
        if (defaultOption) {
        defaultOption.selected = true;
        }
      }
      }
    });
    </script>
</body>
</html>