        <section class="games">
            <div class="container">
              <h2>Trending Games</h2>
                 <div class="game-grid">


                   <div class="game"><a href="https://www.playfiddlebops.com/dandyrunki-retake/" title="Dandyrunki Retake">
                        <div class="game-logo game-l-2">
                            <img src="/Dandyrunki Retake.png" alt="Dandyrunki Retake">
                         </div>
                        <p>Dandyrunki Retake</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/mountayonnaise/" title="Sprunki Mountayonnaise">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Mountayonnaise.png" alt="Sprunki Mountayonnaise">
                         </div>
                        <p>Sprunki Mountayonnaise</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-play-random/" title="Sprunki Play Random">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Play Random.png" alt="Sprunki Play Random">
                         </div>
                        <p>Sprunki Play Random</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-maker/" title="Sprunki Maker (BIG update)">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Maker.png" alt="Sprunki Maker (BIG update)">
                         </div>
                        <p>Sprunki Maker (BIG update)</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/swap-sprunkgerny/" title="Swap Sprunkgerny">
                        <div class="game-logo game-l-2">
                            <img src="/Swap Sprunkgerny.png" alt="Swap Sprunkgerny">
                         </div>
                        <p>Swap Sprunkgerny</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunkgerny/" title="Sprunkgerny">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunkgerny.png" alt="Sprunkgerny">
                         </div>
                        <p>Sprunkgerny</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-dandys-world/" title="Sprunki Dandy's World">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Dandys World.png" alt="Sprunki Dandy's World">
                         </div>
                        <p>Sprunki Dandy's World</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-sonic/" title="Sprunki Sonic">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Sonic.png" alt="Sprunki Sonic">
                         </div>
                        <p>Sprunki Sonic</p></a>
                    </div>


                    <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-sprunki/">
                      <div class="game-logo game-l-2">
                         <img src="/fiddlebops-sprunki-bg-1.png" alt="Fiddlebops Sprunki">
                      </div>
                        <p>Fiddlebops Sprunki</p></a>
                    </div>

                    <div class="game"><a href="https://www.playfiddlebops.com/" title="Fiddlebops">
                      <div class="game-logo game-l-2">
                         <img src="/tw.jpg" alt="Fiddlebops">
                      </div>
                        <p>Fiddlebops</p></a>
                    </div>


                 </div>
                 <style>.more{width: 130px;margin: 40px auto 0 auto;border: 1px solid #eee;border-radius: 7px;padding: 10px;text-align: center;color: #fff;font-weight: 900;font-size: 20px;}.more a:hover{color:#fff}</style>
                 <div class="more"><a href="/games/">ALL Games</a></div>
            </div>
        </section>