        <section class="games">
            <div class="container">
              <h2>Trending Games</h2>
                 <div class="game-grid">

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-dandys-world/" title="Sprunki Dandy's World">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Dandys World.png" alt="Sprunki Dandy's World">
                         </div>
                        <p>Sprunki Dandy's World</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-sonic/" title="Sprunki Sonic">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Sonic.png" alt="Sprunki Sonic">
                         </div>
                        <p>Sprunki Sonic</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-craft/" title="Sprunki Craft">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Craft.jpg" alt="Sprunki Craft">
                         </div>
                        <p>Sprunki Craft</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-retake/" title="Sprunki Retake">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Retake.png" alt="Sprunki Retake">
                         </div>
                        <p>Sprunki Retake</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/incredibox-yellow-colorbox/" title="Incredibox Yellow Colorbox">
                        <div class="game-logo game-l-2">
                            <img src="/Incredibox Yellow Colorbox.png" alt="Incredibox Yellow Colorbox">
                         </div>
                        <p>Incredibox Yellow Colorbox</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-phase-5/" title="Sprunki Phase 5">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Phase 5.png" alt="Sprunki Phase 5">
                         </div>
                        <p>Sprunki Phase 5</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunkle-bops/" title="Sprunkle Bops">
                        <div class="game-logo game-l-2">
                            <img src="/sprunklebops.png" alt="Sprunkle Bops">
                         </div>
                        <p>Sprunkle Bops</p></a>
                    </div>

                    <div class="game"><a href="https://www.playfiddlebops.com/fiddlebops-sprunki/">
                      <div class="game-logo game-l-2">
                         <img src="/fiddlebops-sprunki-bg-1.png" alt="Fiddlebops Sprunki">
                      </div>
                        <p>Fiddlebops Sprunki</p></a>
                    </div>

                    <div class="game"><a href="https://www.playfiddlebops.com/" title="Fiddlebops">
                      <div class="game-logo game-l-2">
                         <img src="/tw.jpg" alt="Fiddlebops">
                      </div>
                        <p>Fiddlebops</p></a>
                    </div>

                   <div class="game"><a href="https://dragon-sweeper.org/" title="Dragonsweeper">
                        <div class="game-logo game-l-2">
                            <img src="/dragon-1.png" alt="Dragonsweeper">
                         </div>
                        <p>Dragonsweeper</p></a>
                    </div>

                 </div>
            </div>
        </section>