        <section class="games">
            <div class="container">
              <h2>Trending Games</h2>
                 <div class="game-grid">


                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-christmas/" title="Sprunki Christmas">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Christmas.png" alt="Sprunki Christmas">
                         </div>
                        <p>Sprunki Christmas</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-police-and-prisoners/" title="Sprunki Police And Prisoners">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Police And Prisoners.png" alt="Sprunki Police And Prisoners">
                         </div>
                        <p>Sprunki Police And Prisoners</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-sepbox-steel-factory/" title="Sprunki x Sepbox Steel Factory">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Sepbox Steel Factory.png" alt="Sprunki x Sepbox Steel Factory">
                         </div>
                        <p>Sprunki x Sepbox Steel Factory</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-like-minecraft/" title="Sprunki Like Minecraft">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Like Minecraft.png" alt="Sprunki Like Minecraft">
                         </div>
                        <p>Sprunki Like Minecraft</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-but-with-memes/" title="Sprunki But With Memes">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki But With Memes.png" alt="Sprunki But With Memes">
                         </div>
                        <p>Sprunki But With Memes</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-halloween/" title="Sprunki Halloween">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Halloween.png" alt="Sprunki Halloween">
                         </div>
                        <p>Sprunki Halloween</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunkr-but-sprunki/" title="Sprunkr But Sprunki">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunkr But Sprunki.png" alt="Sprunkr But Sprunki">
                         </div>
                        <p>Sprunkr But Sprunki</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-mustard/" title="Sprunki Mustard">
                        <div class="game-logo game-l-2">
                            <img src="/Sprunki Mustard.png" alt="Sprunki Mustard">
                         </div>
                        <p>Sprunki Mustard</p></a>
                    </div>


                    <div class="game"><a href="https://www.playfiddlebops.com/incredibox-sprinkle/">
                      <div class="game-logo game-l-2">
                         <img src="/Incredibox Sprinkle.png" alt="Incredibox Sprinkle">
                      </div>
                        <p>Incredibox Sprinkle</p></a>
                    </div>

                    <div class="game"><a href="https://www.playfiddlebops.com/sprunki-good-night/" title="Sprunki Good Night">
                      <div class="game-logo game-l-2">
                         <img src="/Sprunki Good Night.png" alt="Sprunki Good Night">
                      </div>
                        <p>Sprunki Good Night</p></a>
                    </div>


                 </div>
                 <style>.more{width: 130px;margin: 40px auto 0 auto;border: 1px solid #eee;border-radius: 7px;padding: 10px;text-align: center;color: #fff;font-weight: 900;font-size: 20px;}.more a:hover{color:#fff}</style>
                 <div class="more"><a href="/games/">More Games</a></div>
            </div>
        </section>