        <section class="games">
            <div class="container">
              <h2>Trending Games</h2>
                 <div class="game-grid">


                   <div class="game"><a href="https://www.playfiddlebops.com/ayocs-sprunkr/" title="AYOCS Sprunkr">
                        <div class="game-logo game-l-2">
                            <img src="/ayocs-sprunkr.png" alt="AYOCS Sprunkr">
                         </div>
                        <p>AYOCS Sprunkr</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/incredibox-donki-abgerny/" title="Incredibox Donki Abgerny">
                        <div class="game-logo game-l-2">
                            <img src="/incredibox-donki-abgerny.png" alt="Incredibox Donki Abgerny">
                         </div>
                        <p>Incredibox Donki Abgerny</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-pyramixed-version/" title="Sprunki Pyramixed">
                        <div class="game-logo game-l-2">
                            <img src="/sprunki-pyramixed-version.png" alt="Sprunki Pyramixed">
                         </div>
                        <p>Sprunki Pyramixed</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-squid-remix/" title="Sprunki Squid Remix">
                        <div class="game-logo game-l-2">
                            <img src="/sprunki-squid-remix.png" alt="Sprunki Squid Remix">
                         </div>
                        <p>Sprunki Squid Remix</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-1996/" title="Sprunki But With Memes">
                        <div class="game-logo game-l-2">
                            <img src="/sprunki-1996.png" alt="Sprunki 1996">
                         </div>
                        <p>Sprunki 1996</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-rotrizi-5/" title="Sprunki rotrizi 5.0">
                        <div class="game-logo game-l-2">
                            <img src="/sprunki-rotrizi-5.png" alt="Sprunki rotrizi 5.0">
                         </div>
                        <p>Sprunki rotrizi 5.0</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/sprunki-parasite-parasprunki-15/" title="Sprunki Parasite ParaSprunki 15">
                        <div class="game-logo game-l-2">
                            <img src="/sprunki-parasite-parasprunki-15.png" alt="Sprunki Parasite ParaSprunki 15">
                         </div>
                        <p>Sprunki Parasite ParaSprunki 15</p></a>
                    </div>

                   <div class="game"><a href="https://www.playfiddlebops.com/incredibox-sprunksters/" title="Incredibox Sprunksters">
                        <div class="game-logo game-l-2">
                            <img src="/incredibox-sprunksters.png" alt="Incredibox Sprunksters">
                         </div>
                        <p>Incredibox Sprunksters</p></a>
                    </div>


                    <div class="game"><a href="https://www.playfiddlebops.com/sprunki-babies/">
                      <div class="game-logo game-l-2">
                         <img src="/sprunki-babies.png" alt="Sprunki Babies">
                      </div>
                        <p>Sprunki Babies</p></a>
                    </div>

                    <div class="game"><a href="https://www.playfiddlebops.com/pikmin-no-sprunki/" title="Pikmin No Sprunki">
                      <div class="game-logo game-l-2">
                         <img src="/pikmin-no-sprunki.png" alt="Pikmin No Sprunki">
                      </div>
                        <p>Pikmin No Sprunki</p></a>
                    </div>


                 </div>
                 <style>.more{width: 130px;margin: 40px auto 0 auto;border: 1px solid #eee;border-radius: 7px;padding: 10px;text-align: center;color: #fff;font-weight: 900;font-size: 20px;}.more a:hover{color:#fff}</style>
                 <div class="more"><a href="/games/">More Games</a></div>
            </div>
        </section>