---
import TrendingGames from '../trending-games.astro';
import NewGames from '../new-games.astro';
import PopularGames from '../popular-games.astro';
import NAV from '../nav.astro';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiddlebops - Juego Gratuito en Línea Fiddlebops Incredibox</title>
    <meta name="description" content="¡Crea tu música única con Fiddlebops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas.">
    <meta name="robots" content="index, follow"/>

    <link rel="canonical" href="https://www.playfiddlebops.com/es/"/>
    <link rel="alternate" hreflang="x-default" href="https://www.playfiddlebops.com/" />
    <link rel="alternate" hreflang="en" href="https://www.playfiddlebops.com/" />
    <link rel="alternate" hreflang="zh-CN" href="https://www.playfiddlebops.com/zh/" />
    <link rel="alternate" hreflang="de" href="https://www.playfiddlebops.com/de/" />
    <link rel="alternate" hreflang="fr" href="https://www.playfiddlebops.com/fr/" />
    <link rel="alternate" hreflang="es" href="https://www.playfiddlebops.com/es/" />
    <link rel="alternate" hreflang="ja" href="https://www.playfiddlebops.com/ja/" />
    <link rel="alternate" hreflang="ko" href="https://www.playfiddlebops.com/ko/" />
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Game",
      "name": "Fiddlebops - Juego Gratuito en Línea Fiddlebops Incredibox",
      "alternateName": "playfiddlebops.com",
      "url": "https://www.playfiddlebops.com/es/",
      "description": "¡Crea tu música única con Fiddlebops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas."
    }
    </script>
    <meta property="og:title" content="Fiddlebops - Juego Gratuito en Línea Fiddlebops Incredibox"/>
    <meta property="og:description" content="¡Crea tu música única con Fiddlebops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas."/>
    <meta property="og:url" content="https://www.playfiddlebops.com"/>
    <meta property="og:site_name" content="Fiddlebops"/>
    <meta property="og:image" content="https://www.playfiddlebops.com/tw.jpg"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="https://www.playfiddlebops.com"/>
    <meta name="twitter:creator" content="Fiddlebops"/>
    <meta name="twitter:title" content="Fiddlebops - Juego Gratuito en Línea Fiddlebops Incredibox"/>
    <meta name="twitter:description" content="¡Crea tu música única con Fiddlebops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas."/>
    <meta name="twitter:image" content="https://www.playfiddlebops.com/tw.jpg"/>

    <link rel="icon" href="https://www.playfiddlebops.com/favicon.ico"/>
    <link rel="stylesheet" href="/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
.video-container {
    margin: 30px auto 0;
    border: 3px solid var(--tertiary-dark);
    border-radius: 4px;
    height:400px
}
.video-container iframe {
    width: 45%;
    height: 100%;
    float: left;
    margin:0 30px;
}
      audio {width:210px}
.game-card .game-iframe-sprunki {
  float:left;
    width: 69%;
    margin:0;
    padding:0;
     height:600px;
     background-color:#fff;
     position: relative;
     background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/tw.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size:cover;
}
      .game .game-l-2 img {
    width: 100%!important;
    height:auto;
    margin: 0 auto;}
      @media screen and (max-width: 980px){
        .game-card .game-iframe-sprunki {
     width:100%;}
      }
      @media screen and (max-width: 768px){
        audio {width: 120px}
        .game-card .game-iframe-sprunki {
     height:330px!important;
}
.video-container {
    height:300px
}
.video-container iframe {
    width: 94%;
    height: 100%;
    padding: 0px;
    margin: 20px;
}
.game-info{display:none}
        }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const navToggle = document.querySelector('.nav-toggle');
      const navMenu = document.querySelector('.nav-menu');
    
      navToggle.addEventListener('click', function() {
        navMenu.classList.toggle('active');
      });

    });
    </script>
    <script>
eval(function(p,a,c,k,e,r){e=String;if('0'.replace(0,e)==0){while(c--)r[e(c)]=k[c];k=[function(e){return r[e]||e}];e=function(){return'[0-7]'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('let 2=false;3 0=4.5("6-0");3 1=4.5("1");function 7(){0.src="https://6.netlify.app/";1.style.display="none";2=true;0.focus()}1.addEventListener("click",7);',[],8,'iframe|playButton|iframeLoaded|const|document|getElementById|fiddlebops|loadIframe'.split('|'),0,{}))
    </script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9JME3P55QJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9JME3P55QJ');
</script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
              <h1><a href="/es/">Fiddle<span class="light">Bops</span></a></h1>
            </div>
             <button class="nav-toggle" aria-label="Alternar Navegación">☰</button>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/es/">Inicio</a></li>
                    <NAV />
                </ul>
            </nav>
      <select style="float:right;">
        <option data-lang="en" data-url="/">English</option>
        <option data-lang="zh-CN" data-url="/zh/">简体中文</option>  
        <option data-lang="es" data-url="/es/">Español</option>
        <option data-lang="fr" data-url="/fr/">Français</option>
        <option data-lang="de" data-url="/de/">Deutsch</option>
        <option data-lang="ja" data-url="/ja/">日本語</option>
        <option data-lang="ko" data-url="/ko/">한국어</option>
        </select>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="game-card">
                    <div class="game-info" id="paly">
                        <h2>¡Bienvenido a Fiddlebops!</h2>
                        <p>¡Comienza tu viaje de creación musical! Fiddlebops es un proyecto hecho por fans inspirado en Incredibox. Aquí, puedes mezclar y combinar libremente varios sonidos para crear tu propia música única.</p>
                    </div>
<PopularGames />
                   <div class="game-iframe-sprunki">
                    <iframe id="fiddlebops-iframe" src=""  allowtransparency="true" frameborder="0" scrolling="no" allowfullscreen width="100%" height="100%"></iframe>
                        <button id="playButton">Play</button>
                    </div>
<NewGames />

                </div>
            </div>
        </section>
<TrendingGames />
<section class="about" id="about">
  <div class="container">
    <h2>À propos de Fiddlebops Incredibox</h2>
    <div class="about-content">
      <h3>I. Informations essentielles et gameplay de Fiddlebops</h3>
      <p>
        <strong>Nom du jeu :</strong> Fiddlebops
      </p>
      <p>
        <strong>Type/Étiquettes :</strong> Création musicale, rythme, expérimental, éducatif, familial, casual, solo, créatif
      </p>
      <p>
        <strong>Plateforme :</strong> Web (navigateur)
      </p>
      <p>
        <strong>Date de sortie :</strong> Environ 7 de noviembre de 2024
      </p>
      <p>
        <strong>Prix/Comment l'obtenir :</strong> Gratuit
      </p>
      <hr />
      <h4>1. Mécanismes de création</h4>
      <ul>
        <li>
          <strong>Mécanisme central :</strong> Sélectionner d'adorables personnages Fiddlebops, chacun représentant un son d'instrument ou un élément musical unique. Combiner les sons en glissant-déposant les personnages sur la scène ou la timeline.
        </li>
        <li>
          <strong>Combinaison des sons :</strong> Combiner plusieurs personnages Fiddlebops pour créer une musique à plusieurs niveaux. Différentes combinaisons produiront différentes textures musicales.
        </li>
        <li>
          <strong>Rythme et timing :</strong> Peut utiliser un placement basé sur une grille ou une simple timeline pour contrôler le timing et le rythme des sons.
        </li>
        <li>
          <strong>Boucle et répétition :</strong> Peut inclure un mécanisme de boucle pour répéter les sons et créer des phrases musicales répétitives.
        </li>
        <li>
          <strong>Exploration et expérimentation :</strong> Encourage une exploration libre des combinaisons sonores, en mettant l'accent sur le plaisir de la création.
        </li>
      </ul>
      <hr />
      <h3>II. Mods de Fiddlebops et contenu de la communauté</h3>

      <h4>1. Aperçu des mods populaires du jeu</h4>
      <ul>
        <li>
          <a href="/fiddlebops-but-sprunki/">Fiddlebops but Sprunki</a>
        </li>
        <li>
          <a href="/fiddlebops-fix/">Fiddlebops Fix</a>
        </li>
        <li>
          <a href="/fiddlebops-polos/">Fiddlebops Polos</a>
        </li>
        <li>
          <a href="/fiddlebops-but-dandys-world/">Fiddlebops But Dandy's World</a>
        </li>
      </ul>

      <h4>2. Présentation des personnages et créations de la communauté</h4>
      <ul>
        <li>
          <strong>Présentation des personnages :</strong> Les Fiddlebops sont un groupe de personnages de dessins animés adorables et colorés, chacun associé à un son/instrument spécifique.
          <ul>
            <li>
              <em>Personnages de type batteur :</em> Fournissent la partie rythmique.
            </li>
            <li>
              <em>Personnages de type mélodique :</em> Fournissent des sons semblables à une flûte, un clavier ou un synthétiseur.
            </li>
            <li>
              <em>Personnages de type accord :</em> Fournissent des harmonies de fond ou des lignes de basse.
            </li>
            <li>
              <em>Personnages de type effets sonores :</em> Produisent des effets sonores spéciaux ou des échantillons vocaux.
            </li>
          </ul>
        </li>
        <li>
          <strong>Créations de la communauté :</strong> Concerne principalement la création et le partage par les joueurs de compositions musicales réalisées avec "Fiddlebops". Ces œuvres sont partagées sur des plateformes comme les sections de commentaires d'itch / scratch, des forums et des réseaux sociaux (YouTube, TikTok, Twitter avec le hashtag #Fiddlebops).
        </li>
      </ul>
      <hr />
      <h3>III. Comment jouer à Fiddlebops</h3>

      <h4>1. Choisir un personnage</h4>
      <ul>
        <li>
          Le joueur choisit parmi une bibliothèque de personnages Fiddlebops, chacun ayant une apparence et un son uniques.
        </li>
        <li>
          La sélection ou le glissement d'un personnage peut déclencher un aperçu sonore.
        </li>
      </ul>

      <h4>2. Combiner les sons</h4>
      <ul>
        <li>
          Le joueur fait glisser les Fiddlebops sélectionnés vers une zone désignée de l'interface du jeu.
        </li>
        <li>
          Plusieurs Fiddlebops peuvent être placés simultanément pour jouer des sons en même temps.
        </li>
      </ul>

      <h4>3. Mixer et composer</h4>
      <ul>
        <li>
          Le joueur peut modifier la structure, le rythme et la mélodie de la musique en ajustant la position et le nombre de Fiddlebops.
        </li>
        <li>
          Le jeu peut offrir des commandes simples (comme le réglage du volume), mais l'accent est mis sur le plaisir de la combinaison.
        </li>
      </ul>

      <h4>4. Partager des créations</h4>
      <ul>
        <li>
          Le jeu lui-même peut ne pas avoir de fonction d'enregistrement/partage intégrée.
        </li>
        <li>
          Les joueurs utilisent généralement des logiciels d'enregistrement d'écran tiers pour capturer leurs créations et les partager sur diverses plateformes en ligne.
        </li>
      </ul>
      <hr />
      <h3>IV. Caractéristiques de Fiddlebops</h3>
      <ul>
        <li>
          <strong>Intuitif et facile à utiliser :</strong> Conçu pour tous les âges, en particulier les débutants, avec une manipulation simple.
        </li>
        <li>
          <strong>Encourage la créativité :</strong> Une plateforme libre pour expérimenter avec les sons.
        </li>
        <li>
          <strong>Style visuel adorable et unique :</strong> Couleurs vives, design de personnages attachants.
        </li>
        <li>
          <strong>Expérience musicale expérimentale :</strong> Découvrez des combinaisons sonores inattendues.
        </li>
        <li>
          <strong>Valeur éducative :</strong> Introduit les éléments musicaux de base de manière ludique.
        </li>
        <li>
          <strong>Création facile :</strong> Pas de conditions de victoire/défaite ni de système de notation.
        </li>
        <li>
          <strong>Gratuit ou à prix personnalisé :</strong> Faible barrière à l'entrée.
        </li>
      </ul>
      <hr />
      <h3>V. Téléchargement et expérience de Fiddlebops</h3>
      <ul>
        <li>
          <strong>Plateformes principales :</strong>
          <a href="https://www.playfiddlebops.com/">playfiddlebops.com</a>
          ou itch et scratch.
        </li>
        <li>
          <strong>Recommandations d'expérience :</strong> Étant donné qu'il peut être exécuté directement dans le navigateur, il est conseillé aux nouveaux joueurs d'essayer d'abord la version Web. S'ils apprécient et souhaitent une expérience plus fluide ou jouer hors ligne, ils peuvent envisager de télécharger la version de bureau.
        </li>
      </ul>
    </div>
  </div>
</section>
        <section class="games">
          <div class="container">
            <h2>Explora los diferentes sonidos en Fiddlebops</h2>
                 <div class="game-grid">
                   <div class="game">
                        <div class="game-logo">
                            <img src="../img-1.png" alt="Beat 1">
                         </div>
                        <p>Beat 1</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat1.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                      <div class="game-logo">
                         <img src="../img-2.png" alt="Beat 3">
                      </div>
                        <p>Beat 3</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat3.wav" type="audio/wav"></audio>
                    </div>
                     <div class="game">
                       <div class="game-logo">
                           <img src="../img-3.png" alt="Beat 5">
                      </div>
                        <p>Beat 5</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat5.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                       <div class="game-logo">
                         <img src="../img-4.png" alt="Effect 3">
                       </div>
                        <p>Effect 3</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect3.wav" type="audio/wav"></audio>
                    </div>
                     <div class="game">
                        <div class="game-logo">
                          <img src="../img-5.png" alt="Effect 4">
                        </div>
                        <p>Effect 4</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect4.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                       <div class="game-logo">
                         <img src="../img-6.png" alt="Effect 5">
                       </div>
                        <p>Effect 5</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect5.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                       <div class="game-logo">
                         <img src="../img-7.png" alt="Voice 2">
                       </div>
                        <p>Voice 2</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice2.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                        <div class="game-logo">
                             <img src="../img-8.png" alt="Voice 3">
                         </div>
                        <p>Voice 3</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice3.wav" type="audio/wav"></audio>
                    </div>
                     <div class="game">
                       <div class="game-logo">
                           <img src="../img-9.png" alt="Voice 5">
                       </div>
                        <p>Voice 5</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice5.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                         <div class="game-logo">
                            <img src="../img-10.png" alt="Bonus 1">
                         </div>
                        <p>Bonus 1</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/bonus1.wav" type="audio/wav"></audio>
                   </div>
               </div>
          </div>

        </section>

          <section class="game-video about">
            <div class="container">
              <h2>Fiddlebops Incredibox Game Video</h2>
            <div class="video-container">
                 <iframe src="https://www.youtube.com/embed/4Oj-dVLSA70" title="Fiddlebops ALL POLOS 4K (WITH SUBTITLES)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 <iframe src="https://www.youtube.com/embed/JlMa-fRBOwE" title="Every Incredibox Fiddlebops in 8 Minutes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<div style="clear:both"></div>
            </div>
            </div>
<div style="clear:both"></div>
        </section>
<div style="clear:both"></div>
          <section class="about" id="faq">
            <div class="container">
              <h2>Preguntas Frecuentes sobre el Juego Fiddlebops</h2>
              <div class="about-content">
                  <h3>¿Qué es el Juego Fiddlebops?</h3>
                     <p>
                       El juego Fiddlebops es un proyecto hecho por fans inspirado en Incredibox. Aquí, puedes experimentar la diversión de mezclar sonidos y crear piezas musicales únicas a través de una interfaz intuitiva.
                    </p>
                 </div>

                 <div class="about-content">
                   <h3>¿Es Gratuito el Juego Fiddlebops?</h3>
                     <p>
                        Sí, el juego Fiddlebops es completamente gratuito. Los jugadores pueden jugar en línea sin necesidad de descargar nada.
                     </p>
                 </div>

                  <div class="about-content">
                   <h3>¿Hay Necesidad de Descargar o Instalar Algo?</h3>
                     <p>
                        No. El juego se ejecuta directamente en tu navegador y es compatible tanto con dispositivos de escritorio como móviles.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿Cómo Comienzo a Crear Música en el Juego Fiddlebops?</h3>
                     <p>
                        Los jugadores pueden comenzar arrastrando personajes al escenario, combinando sus sonidos únicos en una pieza musical. Experimentar con diferentes combinaciones de personajes puede desbloquear melodías ocultas y contenido adicional.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿Es el Juego Adecuado para los Entusiastas de la Música?</h3>
                     <p>
                        ¡Absolutamente! 《Fiddlebops》 proporciona una plataforma llena de creatividad y diversión para los entusiastas de la música.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿El Juego Admite la Colaboración Multijugador?</h3>
                     <p>
                        Sí, los jugadores pueden colaborar con otros en tiempo real para co-crear música.
                     </p>
                  </div>
            </div>
        </section>


    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li><a href="/es/privacy/">Política de Privacidad</a></li>
                  <li><a href="/es/terms-of-service/">Términos de servicio</a></li>
                </ul>
           </nav>
           <p class="copyright">© 2025 Fiddlebops. All rights reserved.</p>
      </div>
    </footer>
    <script>
      function goToLink(event) {
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
        const url = selectedOption.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      }
  
      // Add event listener
      document.addEventListener('DOMContentLoaded', () => {
        const select = document.querySelector('select');
        if (select) {
          select.addEventListener('change', goToLink);
  
          // Set current language based on the <html> tag's lang attribute
          const htmlLang = document.documentElement.lang;
          const options = Array.from(select.options);
  
          // Try to find an option that exactly matches the lang attribute
          const currentOption = options.find(option =>
            option.getAttribute('data-lang') === htmlLang
          );
  
          if (currentOption) {
            currentOption.selected = true;
          } else {
            // If no exact match is found, try to find a default option (data-lang="en" or "/")
            let defaultOption = options.find(option =>
              option.getAttribute('data-lang') === 'en' // common default
            );
  
            if (!defaultOption) {
              defaultOption = options.find(option =>
                option.getAttribute('data-lang') === '/' // older convention
              );
            }
  
  
            if (defaultOption) {
              defaultOption.selected = true;
            }
          }
        }
      });
      </script>
<style>
/* Hide AddToAny vertical share bar when screen is less than 981 pixels wide */
@media screen and (max-width: 980px) {
    .a2a_floating_style.a2a_vertical_style { display: none; }
}
@media screen and (min-width: 980px) {
    .a2a_floating_style.a2a_default_style { display: none; }
}
</style>
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" data-a2a-scroll-show="0,60" style="bottom:0px; right:0px;">

<a class="a2a_button_x"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.playfiddlebops.com/es/"></a>
</div>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
<a class="a2a_button_x"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.playfiddlebops.com/es/"></a>
</div>

<script defer src="https://static.addtoany.com/menu/page.js"></script>
</body>
</html>