<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiddleBops - Juego Gratuito en Línea FiddleBops Incredibox</title>
    <meta name="description" content="¡Crea tu música única con FiddleBops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas.">
    <meta property="og:title" content="FiddleBops - Juego Gratuito en Línea FiddleBops Incredibox"/>
    <meta property="og:description" content="¡Crea tu música única con FiddleBops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas."/>
    <meta property="og:url" content="https://www.playfiddlebops.com"/>
    <meta property="og:site_name" content="FiddleBops Incredibox"/>
    <meta property="og:image" content="https://www.playfiddlebops.com/tw.jpg"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="https://www.playfiddlebops.com"/>
    <meta name="twitter:creator" content="FiddleBops Incredibox"/>
    <meta name="twitter:title" content="FiddleBops - Juego Gratuito en Línea FiddleBops Incredibox"/>
    <meta name="twitter:description" content="¡Crea tu música única con FiddleBops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas."/>
    <meta name="twitter:image" content="https://www.playfiddlebops.com/tw.jpg"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="author" content="silkycell">
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="https://www.playfiddlebops.com/es/"/>
    <style>
      audio {width:210px}
      @media screen and (max-width: 768px){
        audio {width: 120px}
        .game-card .game-image-container {
     height:330px!important;;
}
        }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const navToggle = document.querySelector('.nav-toggle');
      const navMenu = document.querySelector('.nav-menu');
    
      navToggle.addEventListener('click', function() {
        navMenu.classList.toggle('active');
      });

    });
    </script>
    <script>
        let iframeLoaded = false; // Track if iframe is loaded
        const iframe = document.getElementById("fiddlebops-iframe"); // Moved outside loadIframe to be accessible
        const playButton = document.getElementById("playButton");

        function loadIframe() {
            iframe.src = "https://silkycell.github.io/FiddleBops/"; // Set the source
             playButton.style.display = "none"; //Hide button
            iframeLoaded = true; // Set to true so it's not loaded again
            iframe.focus(); // Give focus to iframe for keyboard controls if necessary
        }
          playButton.addEventListener("click", loadIframe); // Listen for click
    </script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9JME3P55QJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9JME3P55QJ');
</script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
              <h1><a href="/es/">Fiddle<span class="light">Bops</span></a></h1>
            </div>
             <button class="nav-toggle" aria-label="Alternar Navegación">☰</button>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/es/">Inicio</a></li>
                    <li><a href="#play">Jugar</a></li>
                     <li><a href="#about">Acerca de</a></li>
                     <li><a href="#faq">Preguntas</a></li>
                     <li><a href="#comments">Reseñas</a></li>
                </ul>
            </nav>
      <select style="float:right;">
        <option data-lang="en" data-url="/">English</option>
        <option data-lang="zh-CN" data-url="/zh/">简体中文</option>  
        <option data-lang="es" data-url="/es/">Español</option>
        <option data-lang="fr" data-url="/fr/">Français</option>
        <option data-lang="de" data-url="/de/">Deutsch</option>
        <option data-lang="ja" data-url="/ja/">日本語</option>
        <option data-lang="ko" data-url="/ko/">한국어</option>
        </select>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="game-card">
                    <div class="game-info" id="paly">
                        <h2>¡Bienvenido a FiddleBops!</h2>
                        <p>¡Comienza tu viaje de creación musical! FiddleBops es un proyecto hecho por fans inspirado en Incredibox. Aquí, puedes mezclar y combinar libremente varios sonidos para crear tu propia música única.</p>
                    </div>
                   <div class="game-image-container">
                    <iframe id="fiddlebops-iframe" src="" allowfullscreen width="100%" height="100%"></iframe>
                        <button id="playButton">Play</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="games">
          <div class="container">
            <h2>Explora los diferentes sonidos en FiddleBops</h2>
               <div class="game-grid">
                 <div class="game">
                      <div class="game-logo">
                          <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Fbeat1.png&w=1920&q=75" alt="Beat 1">
                       </div>
                      <p>Beat 1</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat1.wav" type="audio/wav"></audio>
                  </div>
                  <div class="game">
                    <div class="game-logo">
                       <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Fbeat3.png&w=1920&q=75" alt="Beat 3">
                    </div>
                      <p>Beat 3</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat3.wav" type="audio/wav"></audio>
                  </div>
                   <div class="game">
                     <div class="game-logo">
                         <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Fbeat5.png&w=1920&q=75" alt="Beat 5">
                    </div>
                      <p>Beat 5</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat5.wav" type="audio/wav"></audio>
                  </div>
                  <div class="game">
                     <div class="game-logo">
                       <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Feffect3.png&w=1920&q=75" alt="Effect 3">
                     </div>
                      <p>Effect 3</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect3.wav" type="audio/wav"></audio>
                  </div>
                   <div class="game">
                      <div class="game-logo">
                        <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Feffect4.png&w=1920&q=75" alt="Effect 4">
                      </div>
                      <p>Effect 4</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect4.wav" type="audio/wav"></audio>
                  </div>
                  <div class="game">
                     <div class="game-logo">
                       <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Feffect5.png&w=1920&q=75" alt="Effect 5">
                     </div>
                      <p>Effect 5</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect5.wav" type="audio/wav"></audio>
                  </div>
                  <div class="game">
                     <div class="game-logo">
                       <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Fvoice1.png&w=1920&q=75" alt="Voice 2">
                     </div>
                      <p>Voice 2</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice2.wav" type="audio/wav"></audio>
                  </div>
                  <div class="game">
                      <div class="game-logo">
                           <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Fvoice3.png&w=1920&q=75" alt="Voice 3">
                       </div>
                      <p>Voice 3</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice3.wav" type="audio/wav"></audio>
                  </div>
                   <div class="game">
                     <div class="game-logo">
                         <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Fvoice5.png&w=1920&q=75" alt="Voice 5">
                     </div>
                      <p>Voice 5</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice5.wav" type="audio/wav"></audio>
                  </div>
                  <div class="game">
                       <div class="game-logo">
                          <img src="https://fiddlebops.net/_next/image?url=https%3A%2F%2Fcdn.fiddlebops.net%2Fcharacters%2Fimage%2Fbonus1.png&w=1920&q=75" alt="Bonus 1">
                       </div>
                      <p>Bonus 1</p>
                      <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/bonus1.wav" type="audio/wav"></audio>
                 </div>
               </div>
          </div>

        </section>
          <section class="about" id="about">
            <div class="container">
              <h2>Acerca del Proyecto del Juego FiddleBops</h2>
              <div class="about-content">
                    <h3>Introducción al Juego</h3>
                     <p>《FiddleBops》 es un juego de creación musical gratuito en línea inspirado en la serie 《Incredibox》, que combina interactividad y creatividad. Los jugadores pueden explorar la diversión de la creación musical a través del juego. El juego se inspira en el estilo musical de la banda de jazz galesa FiddleBop, con melodías y ritmos vibrantes como núcleo.</p>
                    <hr>

                    <h3>Características del Juego</h3>
                    <h4>Sistema de Personajes Único</h4>
                      <p>El juego ofrece una serie de personajes con personalidades y efectos de sonido únicos, y los jugadores pueden combinar estos personajes según su creatividad para crear música.</p>
                     <h4>Funcionalidad de Creación Musical Rica</h4>
                        <ul>
                            <li>Los jugadores pueden construir música arrastrando y soltando iconos de personajes y efectos de sonido.</li>
                            <li>Se proporciona una rica biblioteca de sonidos, incluyendo jazz, pop y música electrónica, entre otros estilos.</li>
                            <li>Admite el ajuste del tono, la superposición de efectos de sonido y el desbloqueo de animaciones especiales.</li>
                        </ul>
                   <h4>Interactividad y Funciones de la Comunidad</h4>
                        <ul>
                           <li>Los jugadores pueden guardar y compartir sus obras musicales e interactuar con otros jugadores.</li>
                           <li>El juego ofrece actividades y desafíos comunitarios en los que los jugadores pueden participar para adquirir nuevos personajes y efectos de sonido.</li>
                        </ul>
                     <h4>Juego Gratuito y Soporte Multiplataforma</h4>
                       <p>El juego es completamente gratuito y admite el juego en línea sin necesidad de descarga. Algunas funciones (como el modo sin conexión) se pueden usar sin conexión a la red.</p>

                    <h4>Apto para Todas las Edades</h4>
                       <p>El juego está diseñado para ser simple y fácil de usar, adecuado tanto para principiantes como para entusiastas de la música profesional.</p>
                     <hr>

                    <h3>Jugabilidad</h3>
                      <h4>Selección de Personajes y Efectos de Sonido</h4>
                         <p>Los jugadores pueden seleccionar entre varios personajes y asignarles diferentes efectos de sonido.</p>
                     <h4>Creación y Experimentación</h4>
                         <p>Al arrastrar y combinar personajes y efectos de sonido, los jugadores pueden crear obras musicales únicas.</p>
                     <h4>Desbloqueo de Contenido Nuevo</h4>
                         <p>A medida que avanza el juego, los jugadores pueden desbloquear nuevos personajes, efectos de sonido e instrumentos, enriqueciendo aún más sus creaciones.</p>
                     <h4>Interacción con la Comunidad</h4>
                         <p>Los jugadores pueden compartir sus obras con la comunidad e intercambiar consejos creativos con otros jugadores.</p>
                    <hr>
                  <h3>Ventajas del Juego</h3>
                      <ul>
                        <li>Mejora la Creatividad: A través de la creación musical, los jugadores pueden desarrollar su sentido del ritmo y sus habilidades de composición musical.</li>
                        <li>Interacción Social: El juego proporciona una comunidad vibrante donde los jugadores pueden interactuar con otros amantes de la música.</li>
                        <li>Actualizaciones Continuas: El juego agregará regularmente contenido nuevo, manteniendo la experiencia fresca para los jugadores.</li>
                   </ul>
                    <hr>
                  <h3>Resumen</h3>
                    <p>《FiddleBops》 es un juego que combina la creación musical y las experiencias interactivas, adecuado para todos los jugadores amantes de la música. Ya sean simples desafíos de ritmo o complejas creaciones musicales, puede satisfacer las necesidades de los jugadores.</p>
                 </div>
            </div>
        </section>

          <section class="about" id="faq">
            <div class="container">
              <h2>Preguntas Frecuentes sobre el Juego FiddleBops</h2>
              <div class="about-content">
                  <h3>¿Qué es el Juego FiddleBops?</h3>
                     <p>
                       El juego FiddleBops es un proyecto hecho por fans inspirado en Incredibox. Aquí, puedes experimentar la diversión de mezclar sonidos y crear piezas musicales únicas a través de una interfaz intuitiva.
                    </p>
                 </div>

                 <div class="about-content">
                   <h3>¿Es Gratuito el Juego FiddleBops?</h3>
                     <p>
                        Sí, el juego FiddleBops es completamente gratuito. Los jugadores pueden jugar en línea sin necesidad de descargar nada.
                     </p>
                 </div>

                  <div class="about-content">
                   <h3>¿Hay Necesidad de Descargar o Instalar Algo?</h3>
                     <p>
                        No. El juego se ejecuta directamente en tu navegador y es compatible tanto con dispositivos de escritorio como móviles.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿Cómo Comienzo a Crear Música en el Juego FiddleBops?</h3>
                     <p>
                        Los jugadores pueden comenzar arrastrando personajes al escenario, combinando sus sonidos únicos en una pieza musical. Experimentar con diferentes combinaciones de personajes puede desbloquear melodías ocultas y contenido adicional.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿Es el Juego Adecuado para los Entusiastas de la Música?</h3>
                     <p>
                        ¡Absolutamente! 《FiddleBops》 proporciona una plataforma llena de creatividad y diversión para los entusiastas de la música.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿El Juego Admite la Colaboración Multijugador?</h3>
                     <p>
                        Sí, los jugadores pueden colaborar con otros en tiempo real para co-crear música.
                     </p>
                  </div>
            </div>
        </section>


    <section class="comments" id="comments">
         <div class="container">
            <h2>Reseñas de Jugadores sobre el Juego FiddleBops</h2>
             <div class="comment">
                 <p class="author">Amante de la Música <span class="time">Hace 1 mes</span></p>
                  <p>¡FiddleBops es mi opción preferida para crear ritmos! Los efectos de sonido son increíbles, y es súper divertido de usar.</p>
                  <div class="actions">
                    <a href="#">Responder</a>
                    <span>❤️ Me Gusta 0</span>
                    <span>💔 No Me Gusta 0</span>
                  </div>
           </div>
              <div class="comment">
                 <p class="author">Maestro del Ritmo <span class="time">Hace 2 meses</span></p>
                  <p>¡FiddleBops es mi herramienta de creación musical favorita, muy recomendada!</p>
                  <div class="actions">
                     <a href="#">Responder</a>
                    <span>❤️ Me Gusta 3</span>
                    <span>💔 No Me Gusta 1</span>
                  </div>
              </div>

               <div class="comment">
                  <p class="author">Experto en Ritmo <span class="time">Hace 3 meses</span></p>
                  <p>¡Las herramientas de mezcla aquí son muy fáciles de usar, y los resultados son geniales!</p>
                  <div class="actions">
                   <a href="#">Responder</a>
                    <span>❤️ Me Gusta 4</span>
                    <span>💔 No Me Gusta 0</span>
                  </div>
               </div>
               <div class="comment">
                 <p class="author">Creador de Sonidos <span class="time">Hace 4 meses</span></p>
                  <p>Me encanta usar FiddleBops para hacer realidad mis sueños musicales. ¡Definitivamente es mi espacio de música exclusivo!</p>
                  <div class="actions">
                   <a href="#">Responder</a>
                    <span>❤️ Me Gusta 46</span>
                    <span>💔 No Me Gusta 7</span>
                   </div>
               </div>
             <div class="comment">
                  <p class="author">Compositor Novato <span class="time">Hace 5 meses</span></p>
                  <p>¡Acabo de comenzar a explorar FiddleBops, y ya se ha convertido en una de mis herramientas favoritas!</p>
               </div>

        </div>
     </section>
    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li><a href="/es/privacy/">Política de Privacidad</a></li>
                  <li><a href="/es/terms-of-service/">Términos de servicio</a></li>
                </ul>
           </nav>
           <p class="copyright">© 2025 FiddleBops. Todos los derechos reservados.</p>
      </div>
    </footer>
    <script>
      function goToLink(event) {
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
        const url = selectedOption.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      }
  
      // Add event listener
      document.addEventListener('DOMContentLoaded', () => {
        const select = document.querySelector('select');
        if (select) {
          select.addEventListener('change', goToLink);
  
          // Set current language based on the <html> tag's lang attribute
          const htmlLang = document.documentElement.lang;
          const options = Array.from(select.options);
  
          // Try to find an option that exactly matches the lang attribute
          const currentOption = options.find(option =>
            option.getAttribute('data-lang') === htmlLang
          );
  
          if (currentOption) {
            currentOption.selected = true;
          } else {
            // If no exact match is found, try to find a default option (data-lang="en" or "/")
            let defaultOption = options.find(option =>
              option.getAttribute('data-lang') === 'en' // common default
            );
  
            if (!defaultOption) {
              defaultOption = options.find(option =>
                option.getAttribute('data-lang') === '/' // older convention
              );
            }
  
  
            if (defaultOption) {
              defaultOption.selected = true;
            }
          }
        }
      });
      </script>
<style>
/* Hide AddToAny vertical share bar when screen is less than 981 pixels wide */
@media screen and (max-width: 980px) {
    .a2a_floating_style.a2a_vertical_style { display: none; }
}
@media screen and (min-width: 980px) {
    .a2a_floating_style.a2a_default_style { display: none; }
}
</style>
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" data-a2a-scroll-show="0,60" style="bottom:0px; right:0px;">

<a class="a2a_button_x"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.playfiddlebops.com/es/"></a>
</div>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
<a class="a2a_button_x"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.playfiddlebops.com/es/"></a>
</div>

<script defer src="https://static.addtoany.com/menu/page.js"></script>
</body>
</html>