---
import TrendingGames from '../trending-games.astro';
import NewGames from '../new-games.astro';
import PopularGames from '../popular-games.astro';
import NAV from '../nav.astro';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiddleBops - Juego Gratuito en Línea FiddleBops Incredibox</title>
    <meta name="description" content="¡Crea tu música única con FiddleBops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas.">
    <meta name="robots" content="index, follow"/>

    <link rel="canonical" href="https://www.playfiddlebops.com/es/"/>
    <link rel="alternate" hreflang="x-default" href="https://www.playfiddlebops.com/" />
    <link rel="alternate" hreflang="en" href="https://www.playfiddlebops.com/" />
    <link rel="alternate" hreflang="zh-CN" href="https://www.playfiddlebops.com/zh/" />
    <link rel="alternate" hreflang="de" href="https://www.playfiddlebops.com/de/" />
    <link rel="alternate" hreflang="fr" href="https://www.playfiddlebops.com/fr/" />
    <link rel="alternate" hreflang="es" href="https://www.playfiddlebops.com/es/" />
    <link rel="alternate" hreflang="ja" href="https://www.playfiddlebops.com/ja/" />
    <link rel="alternate" hreflang="ko" href="https://www.playfiddlebops.com/ko/" />
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "FiddleBops - Juego Gratuito en Línea FiddleBops Incredibox",
      "alternateName": "playfiddlebops.com",
      "url": "https://www.playfiddlebops.com/es/",
      "description": "¡Crea tu música única con FiddleBops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas."
    }
    </script>
    <meta property="og:title" content="FiddleBops - Juego Gratuito en Línea FiddleBops Incredibox"/>
    <meta property="og:description" content="¡Crea tu música única con FiddleBops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas."/>
    <meta property="og:url" content="https://www.playfiddlebops.com"/>
    <meta property="og:site_name" content="FiddleBops"/>
    <meta property="og:image" content="https://www.playfiddlebops.com/tw.jpg"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="https://www.playfiddlebops.com"/>
    <meta name="twitter:creator" content="FiddleBops"/>
    <meta name="twitter:title" content="FiddleBops - Juego Gratuito en Línea FiddleBops Incredibox"/>
    <meta name="twitter:description" content="¡Crea tu música única con FiddleBops! Este proyecto hecho por fans, inspirado en Incredibox, te permite mezclar y combinar varios sonidos para componer pistas personalizadas."/>
    <meta name="twitter:image" content="https://www.playfiddlebops.com/tw.jpg"/>

    <link rel="icon" href="https://www.playfiddlebops.com/favicon.ico"/>
    <link rel="stylesheet" href="/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      audio {width:210px}
.game-card .game-iframe-sprunki {
  float:left;
    width: 69%;
    margin:0;
    padding:0;
     height:600px;
     background-color:#fff;
     position: relative;
     background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/tw.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size:cover;
}
      .game .game-l-2 img {
    width: 100%!important;
    height:auto;
    margin: 0 auto;}
      @media screen and (max-width: 980px){
        .game-card .game-iframe-sprunki {
     width:100%;}
      }
      @media screen and (max-width: 768px){
        audio {width: 120px}
        .game-card .game-iframe-sprunki {
     height:330px!important;
}
.game-info{display:none}
        }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const navToggle = document.querySelector('.nav-toggle');
      const navMenu = document.querySelector('.nav-menu');
    
      navToggle.addEventListener('click', function() {
        navMenu.classList.toggle('active');
      });

    });
    </script>
    <script>
eval(function(p,a,c,k,e,r){e=String;if('0'.replace(0,e)==0){while(c--)r[e(c)]=k[c];k=[function(e){return r[e]||e}];e=function(){return'[0-7]'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('let 2=false;3 0=4.5("6-0");3 1=4.5("1");function 7(){0.src="https://6.netlify.app/";1.style.display="none";2=true;0.focus()}1.addEventListener("click",7);',[],8,'iframe|playButton|iframeLoaded|const|document|getElementById|fiddlebops|loadIframe'.split('|'),0,{}))
    </script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9JME3P55QJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9JME3P55QJ');
</script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
              <h1><a href="/es/">Fiddle<span class="light">Bops</span></a></h1>
            </div>
             <button class="nav-toggle" aria-label="Alternar Navegación">☰</button>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/es/">Inicio</a></li>
                    <NAV />
                </ul>
            </nav>
      <select style="float:right;">
        <option data-lang="en" data-url="/">English</option>
        <option data-lang="zh-CN" data-url="/zh/">简体中文</option>  
        <option data-lang="es" data-url="/es/">Español</option>
        <option data-lang="fr" data-url="/fr/">Français</option>
        <option data-lang="de" data-url="/de/">Deutsch</option>
        <option data-lang="ja" data-url="/ja/">日本語</option>
        <option data-lang="ko" data-url="/ko/">한국어</option>
        </select>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="game-card">
                    <div class="game-info" id="paly">
                        <h2>¡Bienvenido a FiddleBops!</h2>
                        <p>¡Comienza tu viaje de creación musical! FiddleBops es un proyecto hecho por fans inspirado en Incredibox. Aquí, puedes mezclar y combinar libremente varios sonidos para crear tu propia música única.</p>
                    </div>
<PopularGames />
                   <div class="game-iframe-sprunki">
                    <iframe id="fiddlebops-iframe" src=""  allowtransparency="true" frameborder="0" scrolling="no" allowfullscreen width="100%" height="100%"></iframe>
                        <button id="playButton">Play</button>
                    </div>
<NewGames />

                </div>
            </div>
        </section>
<TrendingGames />
          <section class="about" id="about">
            <div class="container">
              <h2>Jugabilidad FiddleBops</h2>
              <div class="about-content">
                    <h3>Introducción al Juego</h3>
                     <p>《FiddleBops》 es un juego de creación musical gratuito en línea inspirado en la serie 《Incredibox》, que combina interactividad y creatividad. Los jugadores pueden explorar la diversión de la creación musical a través del juego. El juego se inspira en el estilo musical de la banda de jazz galesa FiddleBop, con melodías y ritmos vibrantes como núcleo.</p>
                    <hr>

                    <h3>Jugabilidad</h3>
                      <h4>Selección de Personajes y Efectos de Sonido</h4>
                         <p>Los jugadores pueden seleccionar entre varios personajes y asignarles diferentes efectos de sonido.</p>
                     <h4>Creación y Experimentación</h4>
                         <p>Al arrastrar y combinar personajes y efectos de sonido, los jugadores pueden crear obras musicales únicas.</p>
                     <h4>Desbloqueo de Contenido Nuevo</h4>
                         <p>A medida que avanza el juego, los jugadores pueden desbloquear nuevos personajes, efectos de sonido e instrumentos, enriqueciendo aún más sus creaciones.</p>
                     <h4>Interacción con la Comunidad</h4>
                         <p>Los jugadores pueden compartir sus obras con la comunidad e intercambiar consejos creativos con otros jugadores.</p>
                    <hr>
                  <h3>Ventajas del Juego</h3>
                      <ul>
                        <li>Mejora la Creatividad: A través de la creación musical, los jugadores pueden desarrollar su sentido del ritmo y sus habilidades de composición musical.</li>
                        <li>Interacción Social: El juego proporciona una comunidad vibrante donde los jugadores pueden interactuar con otros amantes de la música.</li>
                        <li>Actualizaciones Continuas: El juego agregará regularmente contenido nuevo, manteniendo la experiencia fresca para los jugadores.</li>
                   </ul>
                 </div>
            </div>
        </section>
        <section class="games">
          <div class="container">
            <h2>Explora los diferentes sonidos en FiddleBops</h2>
                 <div class="game-grid">
                   <div class="game">
                        <div class="game-logo">
                            <img src="../img-1.png" alt="Beat 1">
                         </div>
                        <p>Beat 1</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat1.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                      <div class="game-logo">
                         <img src="../img-2.png" alt="Beat 3">
                      </div>
                        <p>Beat 3</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat3.wav" type="audio/wav"></audio>
                    </div>
                     <div class="game">
                       <div class="game-logo">
                           <img src="../img-3.png" alt="Beat 5">
                      </div>
                        <p>Beat 5</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/beat5.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                       <div class="game-logo">
                         <img src="../img-4.png" alt="Effect 3">
                       </div>
                        <p>Effect 3</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect3.wav" type="audio/wav"></audio>
                    </div>
                     <div class="game">
                        <div class="game-logo">
                          <img src="../img-5.png" alt="Effect 4">
                        </div>
                        <p>Effect 4</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect4.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                       <div class="game-logo">
                         <img src="../img-6.png" alt="Effect 5">
                       </div>
                        <p>Effect 5</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/effect5.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                       <div class="game-logo">
                         <img src="../img-7.png" alt="Voice 2">
                       </div>
                        <p>Voice 2</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice2.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                        <div class="game-logo">
                             <img src="../img-8.png" alt="Voice 3">
                         </div>
                        <p>Voice 3</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice3.wav" type="audio/wav"></audio>
                    </div>
                     <div class="game">
                       <div class="game-logo">
                           <img src="../img-9.png" alt="Voice 5">
                       </div>
                        <p>Voice 5</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/voice5.wav" type="audio/wav"></audio>
                    </div>
                    <div class="game">
                         <div class="game-logo">
                            <img src="../img-10.png" alt="Bonus 1">
                         </div>
                        <p>Bonus 1</p>
                        <audio controls="" preload="metadata" class="w-[100px] max-w-full" crossorigin="anonymous"><source src="https://www.playfiddlebops.com/bonus1.wav" type="audio/wav"></audio>
                   </div>
               </div>
          </div>

        </section>
          <section class="about" id="about">
            <div class="container">
              <h2>Acerca del Proyecto del Juego FiddleBops</h2>
              <div class="about-content">
                    <h3>Introducción al Juego</h3>
                     <p>《FiddleBops》 es un juego de creación musical gratuito en línea inspirado en la serie 《Incredibox》, que combina interactividad y creatividad. Los jugadores pueden explorar la diversión de la creación musical a través del juego. El juego se inspira en el estilo musical de la banda de jazz galesa FiddleBop, con melodías y ritmos vibrantes como núcleo.</p>
                    <hr>

                    <h3>Características del Juego</h3>
                    <h4>Sistema de Personajes Único</h4>
                      <p>El juego ofrece una serie de personajes con personalidades y efectos de sonido únicos, y los jugadores pueden combinar estos personajes según su creatividad para crear música.</p>
                     <h4>Funcionalidad de Creación Musical Rica</h4>
                        <ul>
                            <li>Los jugadores pueden construir música arrastrando y soltando iconos de personajes y efectos de sonido.</li>
                            <li>Se proporciona una rica biblioteca de sonidos, incluyendo jazz, pop y música electrónica, entre otros estilos.</li>
                            <li>Admite el ajuste del tono, la superposición de efectos de sonido y el desbloqueo de animaciones especiales.</li>
                        </ul>
                   <h4>Interactividad y Funciones de la Comunidad</h4>
                        <ul>
                           <li>Los jugadores pueden guardar y compartir sus obras musicales e interactuar con otros jugadores.</li>
                           <li>El juego ofrece actividades y desafíos comunitarios en los que los jugadores pueden participar para adquirir nuevos personajes y efectos de sonido.</li>
                        </ul>
                     <h4>Juego Gratuito y Soporte Multiplataforma</h4>
                       <p>El juego es completamente gratuito y admite el juego en línea sin necesidad de descarga. Algunas funciones (como el modo sin conexión) se pueden usar sin conexión a la red.</p>

                    <h4>Apto para Todas las Edades</h4>
                       <p>El juego está diseñado para ser simple y fácil de usar, adecuado tanto para principiantes como para entusiastas de la música profesional.</p>
                     <hr>
                  <h3>Resumen</h3>
                    <p>《FiddleBops》 es un juego que combina la creación musical y las experiencias interactivas, adecuado para todos los jugadores amantes de la música. Ya sean simples desafíos de ritmo o complejas creaciones musicales, puede satisfacer las necesidades de los jugadores.</p>
                 </div>
            </div>
        </section>

          <section class="about" id="faq">
            <div class="container">
              <h2>Preguntas Frecuentes sobre el Juego FiddleBops</h2>
              <div class="about-content">
                  <h3>¿Qué es el Juego FiddleBops?</h3>
                     <p>
                       El juego FiddleBops es un proyecto hecho por fans inspirado en Incredibox. Aquí, puedes experimentar la diversión de mezclar sonidos y crear piezas musicales únicas a través de una interfaz intuitiva.
                    </p>
                 </div>

                 <div class="about-content">
                   <h3>¿Es Gratuito el Juego FiddleBops?</h3>
                     <p>
                        Sí, el juego FiddleBops es completamente gratuito. Los jugadores pueden jugar en línea sin necesidad de descargar nada.
                     </p>
                 </div>

                  <div class="about-content">
                   <h3>¿Hay Necesidad de Descargar o Instalar Algo?</h3>
                     <p>
                        No. El juego se ejecuta directamente en tu navegador y es compatible tanto con dispositivos de escritorio como móviles.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿Cómo Comienzo a Crear Música en el Juego FiddleBops?</h3>
                     <p>
                        Los jugadores pueden comenzar arrastrando personajes al escenario, combinando sus sonidos únicos en una pieza musical. Experimentar con diferentes combinaciones de personajes puede desbloquear melodías ocultas y contenido adicional.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿Es el Juego Adecuado para los Entusiastas de la Música?</h3>
                     <p>
                        ¡Absolutamente! 《FiddleBops》 proporciona una plataforma llena de creatividad y diversión para los entusiastas de la música.
                     </p>
                  </div>

                  <div class="about-content">
                   <h3>¿El Juego Admite la Colaboración Multijugador?</h3>
                     <p>
                        Sí, los jugadores pueden colaborar con otros en tiempo real para co-crear música.
                     </p>
                  </div>
            </div>
        </section>


    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li><a href="/es/privacy/">Política de Privacidad</a></li>
                  <li><a href="/es/terms-of-service/">Términos de servicio</a></li>
                </ul>
           </nav>
           <p class="copyright">© 2025 FiddleBops. Todos los derechos reservados.</p>
      </div>
    </footer>
    <script>
      function goToLink(event) {
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
        const url = selectedOption.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      }
  
      // Add event listener
      document.addEventListener('DOMContentLoaded', () => {
        const select = document.querySelector('select');
        if (select) {
          select.addEventListener('change', goToLink);
  
          // Set current language based on the <html> tag's lang attribute
          const htmlLang = document.documentElement.lang;
          const options = Array.from(select.options);
  
          // Try to find an option that exactly matches the lang attribute
          const currentOption = options.find(option =>
            option.getAttribute('data-lang') === htmlLang
          );
  
          if (currentOption) {
            currentOption.selected = true;
          } else {
            // If no exact match is found, try to find a default option (data-lang="en" or "/")
            let defaultOption = options.find(option =>
              option.getAttribute('data-lang') === 'en' // common default
            );
  
            if (!defaultOption) {
              defaultOption = options.find(option =>
                option.getAttribute('data-lang') === '/' // older convention
              );
            }
  
  
            if (defaultOption) {
              defaultOption.selected = true;
            }
          }
        }
      });
      </script>
<style>
/* Hide AddToAny vertical share bar when screen is less than 981 pixels wide */
@media screen and (max-width: 980px) {
    .a2a_floating_style.a2a_vertical_style { display: none; }
}
@media screen and (min-width: 980px) {
    .a2a_floating_style.a2a_default_style { display: none; }
}
</style>
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" data-a2a-scroll-show="0,60" style="bottom:0px; right:0px;">

<a class="a2a_button_x"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.playfiddlebops.com/es/"></a>
</div>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
<a class="a2a_button_x"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.playfiddlebops.com/es/"></a>
</div>

<script defer src="https://static.addtoany.com/menu/page.js"></script>
</body>
</html>